extends ../layout

block content
  .page_body.basic-content
    .container
      .row
        .col-md-offset-3.col-md-6.col-md-offset-3
            h3.text-center Edit #{biz.slug}
        .col-md-offset-0.col-md-12.col-md-offset-0
          form.form-horizontal(method="post",action="/admin/edit/"+biz._id,enctype="multipart/form-data")
            .form-group
              .col-sm-12
                input#name.form-control-form(type='text', name='name', placeholder='Name',value=biz.name)
            .form-group
              .col-sm-12
                textarea#description.form-control-form(name='description',rows=20,cols=30,placeholder="Describe yourself here...")
                    =biz.description
            .form-group
              .col-sm-12
                textarea#keywords.form-control-form(name='keywords',placeholder="type your comma separated keywords")
                  =biz.keywords
                span.spnCharLeft
            .form-group
              .col-sm-6
                select#city.form-control-form(name='city')
                  option(data-icon='glyphicon-wrench', value=biz.city) #{biz.city}
                  option(data-icon='glyphicon glyphicon-globe', value='Nairobi') Nairobi
                  option(data-icon='glyphicon glyphicon-globe',value='Mombasa') Mombasa 
                  option(data-icon='glyphicon glyphicon-globe', value='Kisumu') Kisumu
                  option(data-icon='glyphicon glyphicon-globe',value='Eldoret') Eldoret 
                  option(data-icon='glyphicon glyphicon-globe', value='Nakuru') Nakuru
                  option(data-icon='glyphicon glyphicon-globe',value='Meru') Meru 
                  option(data-icon='glyphicon glyphicon-globe', value='Nyeri') Nyeri
                  option(data-icon='glyphicon glyphicon-globe',value='Thika') Thika 
                  option(data-icon='glyphicon glyphicon-globe', value='Nanyuki') Nanyuki 
                  option(data-icon='glyphicon glyphicon-globe', value='Watamu') Watamu   
                  option(data-icon='glyphicon glyphicon-globe', value='Kitale') Kitale 
                  option(data-icon='glyphicon glyphicon-globe', value='Narok') Narok  
                  option(data-icon='glyphicon glyphicon-globe', value='Samburu') Samburu      
              .col-sm-6
                input.form-control-form(type='text', name='phone', placeholder='phone',value=biz.phone)
              .col-sm-6
                input.form-control-form(type='text', name='website', placeholder='website',value=biz.website)
              .col-sm-6
                input.form-control-form(type='text', name='email', placeholder='email',value=biz.email)            
              .col-sm-6
                input.form-control-form(type='text', name='deliverylink', placeholder='Delivery or Takeaway Link',value=biz.deliverylink)
              .col-sm-6
                input.form-control-form(type='text', name='bookinglink', placeholder='Booking or Reservation Link',value=biz.bookinglink)
              .col-sm-6
                input.form-control-form(type='text', name='street', placeholder='street',value=biz.street)
              .col-sm-6
                input.form-control-form(type='text', name='building', placeholder='building',value=biz.building)
              .col-sm-6
                select.form-control-form(name='category', data-selected-text-format='count > 5')
                  option(data-icon='glyphicon-wrench', value=biz.category) #{biz.category}
                  option(data-icon='glyphicon-gift', value='business') Business
                  option(data-icon='glyphicon glyphicon-glass',value='service') Service 
            .form-group
              .col-sm-3
                select#subcategory.form-control-form-select(name='subcategory',data-selected-text-format='count > 5', class='subcategory')
                  option(data-icon='fa ', value=biz.subcategory) 
                    =biz.subcategory
                  each category in categories
                    option(data-icon='fa '+category.icon, value=category.name) 
                        =category.name
              .col-sm-3
                select#ssubcategoryy.form-control-form-select.ssubcategory.selectpicker(name='ssubcategory',multiple,data-selected-text-format='count > 5', data-live-search="true")
                  each category in categories
                    each subcat in category.subcategories
                      option(data-icon='glyphicon-wrench', value=subcat.name, rel=category.name) 
                        =subcat.name
              .col-sm-3(style="display:none",id="starteventDate")
                input#startdate.form-control-form(type='text', name='starteventdate', placeholder='Start Event Date',class='datetimepicker',value=biz.starteventdate)
                =biz.starteventdate
              .col-sm-3(style="display:none",id="endeventDate")
                input#startdate.form-control-form(type='text', name='endeventdate', placeholder='End Event Date',class='datetimepicker',value=biz.endeventdate) 
                =biz.endeventdate
            .form-group
              .col-sm-12
                .input-group
                  .input-group-addon.findit-red
                    strong
                        | Select Amenities
                  select.form-control-form-select.selectpicker(name='extras', multiple='', data-selected-text-format='count > 10')
                    option(data-icon='glyphicon-wrench', value=biz.extras) #{biz.extras.join()}
                    option(data-icon='glyphicon glyphicon-signal', value='wifi') Wifi
                    option(data-icon='glyphicon-credit-card', value='creditcards') Credits Cards
                    option(data-icon='glyphicon-cutlery', value='buffet') Buffet
                    option(data-icon='glyphicon glyphicon-glass', value='full_bar') Full Bar
                    option(data-icon='glyphicon-gift', value='takeaway') Take Away
                    option(data-icon='glyphicon-ok-circle', value='parking') Parking
                    option(data-icon='glyphicon-tent', value='camping') Camping
                    option(data-icon='glyphicon-bed', value='accomodation') Accomodation
            .row
              .col-sm-12.text-center
                strong
                  |  Opening & Closing Hours
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Monday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if (biz.hours.monday != '')
                    each hour in biz.hours.monday
                      if (biz.hours.monday != '')
                        input.form-control-form(type='text', name='hoursopenmon', placeholder='Opening Hours Monday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopenmon', placeholder='Opening Hours Monday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="timeclose")
                  if (biz.hours.monday != '')
                    each hour in biz.hours.monday
                      if (biz.hours.monday != '')
                        input.form-control-form(type='text', name='hoursclosemon', placeholder='Closes Hours Monday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosemon', placeholder='Closes Hours Monday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Tuesday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if (biz.hours.tuesday != '')
                    each hour in biz.hours.tuesday
                      if (biz.hours.tuesday != '')
                        input.form-control-form(type='text', name='hoursopentue', placeholder='Opening Hours Tuesday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopentue', placeholder='Opening Hours Tuesday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if (biz.hours.tuesday != '')
                    each hour in biz.hours.tuesday
                      if (biz.hours.tuesday != '')
                        input.form-control-form(type='text', name='hoursclosetue', placeholder='Closes Hours Tuesday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosetue', placeholder='Closes Hours Tuesday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Wednesday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if(biz.hours.wednesday != '')
                    each hour in biz.hours.wednesday
                      if(biz.hours.wednesday != '')
                        input.form-control-form(type='text', name='hoursopenwed', placeholder='Opening Hours Wednesday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopenwed', placeholder='Opening Hours Wednesday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if(biz.hours.wednesday != '')
                    each hour in biz.hours.wednesday
                      if(biz.hours.wednesday != '')
                        input.form-control-form(type='text', name='hoursclosewed', placeholder='Closes Hours Wednesday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosewed', placeholder='Closes Hours Wednesday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Thursday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if(biz.hours.thursday != '')
                    each hour in biz.hours.thursday
                      if(biz.hours.thursday != '')
                        input.form-control-form(type='text', name='hoursopenthu', placeholder='Opening Hours Thursday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopenthu', placeholder='Opening Hours Thursday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if(biz.hours.thursday != '')
                    each hour in biz.hours.thursday
                      if(biz.hours.thursday != '')
                        input.form-control-form(type='text', name='hoursclosethu', placeholder='Closes Hours Thursday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosethu', placeholder='Closes Hours Thursday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Friday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if(biz.hours.friday != '')
                    each hour in biz.hours.friday
                      if(biz.hours.friday != '')
                        input.form-control-form(type='text', name='hoursopenfri', placeholder='Opening Hours Friday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopenfri', placeholder='Opening Hours Friday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if(biz.hours.friday != '')
                    each hour in biz.hours.friday
                      if(biz.hours.friday != '')
                        input.form-control-form(type='text', name='hoursclosefri', placeholder='Closes Hours Friday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosefri', placeholder='Closes Hours Friday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Saturday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if(biz.hours.saturday != '')
                    each hour in biz.hours.saturday
                      if(biz.hours.saturday != '')
                        input.form-control-form(type='text', name='hoursopensat', placeholder='Opening Hours Saturday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopensat', placeholder='Opening Hours Saturday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if(biz.hours.saturday != '')
                    each hour in biz.hours.saturday
                      if(biz.hours.saturday != '')
                        input.form-control-form(type='text', name='hoursclosesat', placeholder='Closes Hours Saturday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosesat', placeholder='Closes Hours Saturday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
              .form-group
                .col-sm-4.text-center
                  strong
                    |  Sunday
                .col-sm-3(id="hoursopen",class="timeopen")
                  if(biz.hours.sunday != '')
                    each hour in biz.hours.sunday
                      if(biz.hours.sunsay != '')
                        input.form-control-form(type='text', name='hoursopensun', placeholder='Opening Hours Sunday',class='timepicker hoursopencloseoption', value=hour.opens)
                  else
                    input.form-control-form(type='text', name='hoursopensun', placeholder='Opening Hours Sunday',class='timepicker hoursopened hoursopencloseoption')
                .col-sm-3(id="hoursclose",class="hoursclose")
                  if(biz.hours.sunday != '')
                    each hour in biz.hours.sunday
                      if(biz.hours.sunsay != '')
                        input.form-control-form(type='text', name='hoursclosesun', placeholder='Closes Hours Sunday',class='timepicker hoursopencloseoption', value=hour.closes)
                  else
                    input.form-control-form(type='text', name='hoursclosesun', placeholder='Closes Hours Sunday',class='timepicker hoursclosed hoursopencloseoption')
                .col-sm-2.text-center
                  button.btn.btn-danger.form-control-form.alert-danger.btnclose
                    |  Closed
            .row
              .col-md-6
                .form-group
                  .col-sm-3
                    label(for='photo') Cover Photo
                  .col-sm-5
                    img(src="/uploads/"+ biz.photo, width="200px")
                    img(src="",id="coverphotopreview", width="200px")
                  .col-sm-4
                    input#photod.form-control-form(type='file', name='photo', placeholder='photo')                  
                .form-group
                  .col-sm-3
                    label(for='gallery') Gallery
                  .col-sm-5
                    if gallery
                      each photo in biz.gallery
                        img(src="/uploads/"+ photo.filename, width="200px")
                    #gallerypreview
                  .col-sm-4
                    input#gallery.form-control-form.imagegallery(type='file', name='gallery', placeholder='gallery', multiple='')
                .form-group
                  .col-sm-4
                    label(for='catalog') Catalog/Menu (pdf)*
                  .col-sm-8
                    input#catalog.form-control-form.catalogmenu(type='file', name='catalog', placeholder='catalog/menu', multiple='')
                if biz.catalog
                  .form-group
                    .col-sm-12
                      =biz.catalog
                      //embed(src="/uploads/"+biz.catalog, width='100%', height='800px')
              .col-md-6
                .form-group
                  fieldset.gllpLatlonPicker
                    .row
                      .col-md-8
                        input.gllpSearchField.form-control(type='text')
                      .col-md-4
                        input.gllpSearchButton.form-control.btn.btn-info(type='button', value='search', placeholder="search your city")
                    .gllpMap Google Maps
                    input#lati.gllpLatitude(type='hidden', value=biz.map.lati,name='lati')
                    input#long.gllpLongitude(type='hidden', value=biz.map.long,name='long')
                    input#zoom.gllpZoom(type='hidden', value=biz.map.zoom,name='zoom')
            .form-group
              .col-sm-12.text-center
                strong
                  |  Social Links
              .col-sm-6
                input.form-control-form(type='text', name='youtube', placeholder='youtube url',value=biz.youtube)
              .col-sm-6
                input.form-control-form(type='text', name='facebook', placeholder='facebook Url',value=biz.facebook)
              .col-sm-6
                input.form-control-form(type='text', name='twitter', placeholder='twitter Url',value=biz.twitter)
              .col-sm-6
                input.form-control-form(type='text', name='instagram', placeholder='Instagram Url',value=biz.instagram)
              .col-sm-6
                input.form-control-form(type='text', name='linkedin', placeholder='Linkedin Url',value=biz.linkedin)
                
            .form-group
              .row
                button.button.btn.btn-warning.form-control-form(type='submit') Update
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9MX39yDkMJn6rjWi6vt4Rens5u_cVBQE")
    script(type='text/javascript').
      $(document).ready(function() {
        $('.btnclose').on("click", function(e){
          //alert();
          $(this).parent().parent().find(".hoursopencloseoption").val('closed');
          //$(this).parent().parent().find(".hoursclosed").val('closed');
          e.stopPropagation();
          e.preventDefault();
        });

        var packagename = "#{biz.packagepaid}";
        $(".imagegallery").on("change", function() { 
              //alert(packagename);
              if(packagename == "bronze"){
                if($(".imagegallery")[0].files.length > 5) {
                  $(".imagegallery").val('');
                  alert("You can select only 5 images");
                 }
              }
              else if(packagename == "silver"){
                if($(".imagegallery")[0].files.length > 15) {
                  $(".imagegallery").val('');
                  alert("You can select only 10 images");
                 }
              }
              else if(packagename == "" && packagename != "gold"){
                if($(".imagegallery")[0].files.length > 0) {
                  $(".imagegallery").val('');
                  alert("This free package doesnt allow you this feature");
                 }
              }
        });

        $(".catalogmenu").on("change", function() {
          if(packagename == "bronze"){
             if($(".catalogmenu")[0].files.length > 1) {
                $(".catalogmenu").val('');
                alert("You can select only 1 catalog");
             }
          }
          else if(packagename == "silver"){
            if($(".catalogmenu")[0].files.length > 3) {
              $(".catalogmenu").val('');
              alert("You can select only 3 catalogs");
             }
          }
          else if(packagename == "" && packagename != "gold"){
            if($(".catalogmenu")[0].files.length > 0) {
              $(".catalogmenu").val('');
              alert("This free package doesnt allow you this feature");
             }
          }
        });
        $('.spnCharLeft').css('display', 'none');
        var words = "";
        $("#keywords").on("keyup", function() {
          //var keywordCount = this.value.length;
          var keywordCount = this.value.match(/\S+/g).length;
          
          if(packagename == "bronze"){
            if(keywordCount >= 11){
              var keywords = this.value.split(/\s+/).slice(0, 10);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 10 keywords");
            }
          }else if(packagename == "silver"){
            if(keywordCount >= 26){
              var keywords = this.value.split(/\s+/).slice(0, 25);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 25 keywords");
            }
          }else if(packagename == "gold"){
            if(keywordCount >= 100){
              var keywords = this.value.split(/\s+/).slice(0, 100);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 25 keywords");
            }
          }
          else if(packagename == "" && packagename != "gold"){
            if(keywordCount > 1){
              var keywords = this.value.split(/\s+/).slice(0, 1);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("This free package doesnt allow you this feature");
            }
          }
        });

        $("#description").on("keyup", function() {
          //var keywordCount = this.value.length;
          var keywordCount = this.value.match(/\S+/g).length;
          
          if(packagename == "bronze"){
            if(keywordCount > 50){
              var keywords = this.value.split(/\s+/).slice(0, 50);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 50 words");
            }
          }else if(packagename == "silver"){
            if(keywordCount > 120 ){
              var keywords = this.value.split(/\s+/).slice(0, 120);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 120 words");
            }
          }else if(packagename == "gold"){
            if(keywordCount > 250){
              var keywords = this.value.split(/\s+/).slice(0, 250);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("You can select upto 250 words");
            }
          }else if(packagename == "" && packagename != "gold"){
            if(keywordCount > 1){
              var keywords = this.value.split(/\s+/).slice(0, 1);
              var shortened = keywords.join(' ');
              this.value = shortened;
              alert("This free package doesnt allow you this feature");
            }
          }
        });
      });
