extends layout

block content
  // Content
  .content.col-md-9.feat
    // Featured News
    .card--clean
      .card__content
        // Slider
        .slick.posts.posts--slider-featured.posts-slider.posts-slider--center
          .posts__item.posts__item--category-1
            a.posts__link-wrapper(href='#')
              figure.posts__thumb
                img(src='assets/images/rest.jpg' alt='')
              .posts__inner
                .posts__cat
                  span.label.posts__cat-label Cuisines
                h3.posts__title
                  | Chinese food 
                  span.posts__title-higlight  this May 4th
                  |  at the chancery
                .post-author
                  figure.post-author__avatar
                    img(src='assets/images/samples/avatar-4.jpg' alt='Post Author Avatar')
                  .post-author__info
                    h4.post-author__name Jesse Stevens
                    time.posts__date(datetime='2017-08-28') August 28th, 2018
          .posts__item.posts__item--category-3
            a.posts__link-wrapper(href='#')
              figure.posts__thumb
                img(src='assets/images/dest1.jpg' alt='')
              .posts__inner
                .posts__cat
                  span.label.posts__cat-label Travel
                h3.posts__title
                  | The Planettroters will 
                  span.posts__title-higlight for the 
                  |  next December
                .post-author
                  figure.post-author__avatar
                    img(src='assets/images/samples/avatar-1.jpg' alt='Post Author Avatar')
                  .post-author__info
                    h4.post-author__name James Spiegel
                    time.posts__date(datetime='2017-08-28') June 28th, 2018
        // Slider / End
    // Featured News / End
  // Content / End
  // Sidebar
  #sidebar.sidebar.col-md-3
    aside.widget.card.widget--sidebar.widget-products
      .widget__title.card__header
        h4 Latest Reviews
      .widget__content.card__content
        ul.products-list
          each review,i in reviews
            li.products-list__item
              figure.products-list__product-thumb
                a(href="/biz/"+review.bizid.slug)
                  img(src="/uploads/thumbs/cover"+ review.bizid.photo alt='')
              .products-list__inner
                .products-list__product-ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
                h5.products-list__product-name
                  a(href='/biz/'+ review.bizid.slug) #{review.bizid.name}
                span.products-list__product-cat 
                  if review.message.length > 100
                    | !{review.message.substr(0, 100)+ '..... <strong id="showmore" style="color:#c00000;">Continue Reading</strong>'}
                  else
                    | !{review.message}
                .products-list__product-sum
                  span.products-list__product-price --- #{review.user_id.names}
            
          li.products-list__item
            a.btn.btn-primary.btn-sm.btn-icon-right.ml-5(href='#')
              | See All Reviews 
              i.fa.fa-plus
  // Sidebar / End
  header.post__header.col-md-12.pb-5.pt-5.pl-0
    h2.post__title TOP DEALS
    ul.post__meta.meta
      li.meta__item.meta__item--date
        time(datetime='2017-08-23') August 23rd, 2017
      li.meta__item.meta__item--views 2369
      li.meta__item.meta__item--likes
        a(href='#')
          i.meta-like.icon-heart
          |  530
      li.meta__item.meta__item--comments
        a(href='#') 18
  .gallery.row
    each coupon incoupons
      .gallery__item.col-12.col-md-2
        a.gallery__item-inner.card(href='/coupons')
          figure.gallery__thumb
            img(src='/uploads/thumbs/coupons/'+coupon.photo alt='')
            span.btn-fab.gallery__btn-fab
          .gallery__content.card__content
            span.gallery__icon
              span.icon-location-pin
            .gallery__details
              h4.gallery__name #{coupon.name}
              .gallery__date #{coupon.bizid.name}
    .gallery__item.col-12.col-md-2
      // Player Card #
      .post-grid__item.col-sm-12.team-roster__item
        .posts__item.posts__item--card.posts__item--quote(style='background-image: url(assets/images/Laikipia.jpg);')
          .card__content
            blockquote.blockquote.blockquote--card
              footer.blockquote__footer
                cite.blockquote__cite
                  span.blockquote__author-name GET MORE FOR LESS
                  a.btn.btn-primary.btn-sm.btn-icon-right(href='#')
                    | View More 
                    i.fa.fa-plus
      // Player Card # / End
  header.post__header.col-md-12.pb-5.pt-5.pl-0
    h2.post__title BUSINESSES BY CATEGORY
    ul.post__meta.meta
      li.meta__item.meta__item--date
        time(datetime='2017-08-23') August 23rd, 2017
      li.meta__item.meta__item--views 2369
      li.meta__item.meta__item--likes
        a(href='#')
          i.meta-like.icon-heart
          |  530
      li.meta__item.meta__item--comments
        a(href='#') 18
  .gallery.gala2.row
    each category in categories
      .gallery__item.col-12.col-md-2
        a.gallery__item-inner.card(href="/category/"+category.name)
          figure.gallery__thumb
            img(src="/uploads/thumbs/categories/"+category.photo, alt=category.name +' on FindIt Kenya')
            span.btn-fab.gallery__btn-fab
          .gallery__content.card__content
            span.gallery__icon
              span.icon-camera
            .gallery__details
              h4.gallery__name #{category.name}
              .gallery__date Getaway wonderlust
    
    .gallery__item.col-12.col-md-2
      // Player Card #
      .post-grid__item.col-sm-12.team-roster__item
        .posts__item.posts__item--card.posts__item--quote(style='background-image: url(assets/images/Laikipia.jpg);')
          .card__content
            blockquote.blockquote.blockquote--card
              footer.blockquote__footer
                cite.blockquote__cite
                  span.blockquote__author-name Checkout All Categories
                  a.btn.btn-secondary.btn-sm.btn-icon-right(href='#')
                    | View More 
                    i.fa.fa-plus
      // Player Card # / End