doctype html
head
  //
    Basic Page Needs
    ==================================================
  title=title
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content=description)
  meta(name='author' content='UXCraft, Kev and Viral')
  meta(name='keywords' content=keywords)
  //
    Favicons
    ==================================================
  link(rel='shortcut icon' href='/assets/images/favicon.png')
  //
    Mobile Specific Metas
    ==================================================
  meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
  //
    Google Web Fonts
    ==================================================
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,700' rel='stylesheet')
  //
    CSS
    ==================================================
  // Vendor CSS
  link(href='/assets/vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/assets/fonts/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='/assets/fonts/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
  link(href='/assets/vendor/magnific-popup/dist/magnific-popup.css' rel='stylesheet')
  link(href='/assets/vendor/slick/slick.css' rel='stylesheet')
  // Template CSS
  link(href='/assets/css/style-soccer.css' rel='stylesheet')
  link(href="/stylesheets/css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet")
  // Custom CSS
  link(href='/assets/css/custom.css' rel='stylesheet')
// Login/Register Tabs Modal
#modal-login-register-tabs.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg.modal--login.modal--login-only(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .modal-account-holder
          .modal-account__item.modal-account__item--logo
            p.modal-account__item-register-txt
              | Don&rsquo;t have an account? 
              a(href='#') Register Now
              |  and enjoy all our benefits!
          .modal-account__item
            // Tab panes
            .tab-content
              // Tab: Login
              #tab-login.tab-pane.fade.show.active(role='tabpanel')
                // Login Form
                form.modal-form(action='/login' method="post")
                  h5 Login to your account
                  .form-group
                    input.form-control(type='text' placeholder='Enter your email address...' name='username')
                  .form-group
                    input.form-control(type='password' placeholder='Enter your password...' name='password')
                  .form-group.form-group--pass-reminder
                    label.checkbox.checkbox-inline
                      input#inlineCheckbox1(type='checkbox' value='option1' checked='')
                      |  Remember Me
                      span.checkbox-indicator
                    a(href='#') Forgot your password?
                  .form-group.form-group--submit
                    input.btn.btn-primary-inverse.btn-block(type='submit' value='Enter to your account' ) 
                    
                  .modal-form--social
                    h6 or Login with your social profile:
                    ul.social-links.social-links--btn.text-center
                      li.social-links__item
                        a.social-links__link.social-links__link--lg.social-links__link--fb(href='/auth/facebook')
                          i.fab.fa-facebook-f
                      li.social-links__item
                        a.social-links__link.social-links__link--lg.social-links__link--twitter(href='#')
                          i.fab.fa-twitter
                      li.social-links__item
                        a.social-links__link.social-links__link--lg.social-links__link--gplus(href='/auth/twitter')
                          i.fab.fa-google-plus
                // Login Form / End
              // Tab: Login / End
              // Tab: Register
              #tab-register.tab-pane.fade(role='tabpanel')
                // Register Form
                form.modal-form(action='#')
                  h5 Register Now!
                  .form-group
                    input.form-control(type='email' placeholder='Enter your email address...')
                  .form-group
                    input.form-control(type='password' placeholder='Enter your password...')
                  .form-group
                    input.form-control(type='password' placeholder='Repeat your password...')
                  .form-group.form-group--submit
                    a.btn.btn-success.btn-block(href='_soccer_shop-account.html') Create Your Account
                  .modal-form--note
                    | You&rsquo;ll receive a confirmation email in your inbox with a link to activate your account.
                // Register Form / End
              // Tab: Register / End
            // Nav tabs
            .nav-tabs-login-wrapper
              ul.nav.nav-tabs.nav-justified.nav-tabs--login(role='tablist')
                li.nav-item
                  a.nav-link.active(href='#tab-login' role='tab' data-toggle='tab') Login
                li.nav-item
                  a.nav-link(href='#tab-register' role='tab' data-toggle='tab') Register
            // Nav tabs / End
// Login/Register Tabs Modal / End
.site-wrapper.clearfix
  .site-overlay
  //
    Header
    ==================================================
  // Header Mobile
  #header-mobile.header-mobile.clearfix
    .header-mobile__logo
      a(href='/')
        img.header-mobile__logo-img(src='/assets/images/logo.png' alt='findit logo')
    .header-mobile__inner
      a#header-mobile__toggle.burger-menu-icon
        span.burger-menu-icon__line
      span#header-mobile__search-icon.header-mobile__search-icon
  // Header Desktop
  header.header
    // Header Primary
    .header__primary
      .container
        .header__primary-inner
          // Header Logo
          .header-logo
            a(href='/')
              img.header-mobile__logo-img(src='/assets/images/logo.png' alt='findit logo')
          // Header Logo / End
          // Main Navigation
          nav.main-nav.clearfix
            // Header Search Form
            .header-search-form
              form#mobile-search-form.search-form(method='get', action='/updatesearch')
                input.form-control.header-mobile__search-control(type='text' value='' placeholder='Enter your search here...' name='search')
                button.header-mobile__search-submit(type='submit')
                  i.fa.fa-search
            // Header Search Form / End
            ul.main-nav__list
              li
                a(href='/business/newpackage') Add A business
              li
                a(href='#') Categories
              if (!loggedin)
                li
                  a(href='#' data-toggle='modal' data-target='#modal-login-register-tabs') Login
                li
                  a(href='#' data-toggle='modal' data-target='#modal-login-register-tabs') Sign Up
              else
                li
                  a(href='/dashboard') View Profile
                li
                  a(href='/logout') Logout 
          // Main Navigation / End
    // Header Primary / End
  // Header / End
  //
    Content
    ==================================================
  .site-content
    .container
      .row
        block content
  footer#footer.footer
    // Footer Widgets
    .footer-widgets
      .footer-widgets__inner
        .container
          .row
            .col-sm-6.col-md-3
              .footer-col-inner
                // Footer Logo
                .footer-logo.footer-logo--has-txt
                  a(href='index.html')
                    .footer-logo__heading
                      h5.footer-logo__txt About Us
                      h6.footer-logo__txt Who We are
                // Footer Logo / End
                // Widget: Contact Info
                .widget.widget--footer.widget-contact-info
                  .widget__content
                    .widget-contact-info__desc
                      p
                        | List your business on Find It today!
                        | Reach new Customers at the most affordable
                        | packages, Show case your products and publish
                        | special offers.
                        | Get Started by Listing your business
                // Widget: Contact Info / End
            .col-sm-6.col-md-3
              .footer-col-inner
                // Footer Logo
                .footer-logo.footer-logo--has-txt
                  a(href='index.html')
                    .footer-logo__heading
                      h6.footer-logo__txt Find Everything
                // Footer Logo / End
                // Widget: Contact Info
                .widget.widget--footer.widget-contact-info
                  .widget__content
                    .widget-contact-info__desc
                      p
                        | List your business on Find It today!
                        | Reach new Customers at the most affordable
                        | packages, Show case your products and publish
                        | special offers.
                        | Get Started by Listing your business
                // Widget: Contact Info / End
            .col-sm-6.col-md-3
              .footer-col-inner
                // Footer Logo
                .footer-logo.footer-logo--has-txt
                  a(href='index.html')
                    .footer-logo__heading
                      h6.footer-logo__txt Do You Own A Business?
                // Footer Logo / End
                // Widget: Contact Info
                .widget.widget--footer.widget-contact-info
                  .widget__content
                    .widget-contact-info__desc
                      p
                        | From Manufacturers to Retailers,
                        | Doctors or Dentists, Legal
                        | Advisors or Consultants or
                        | maybe hotels and Restaurants.
                        | We have it all.
                // Widget: Contact Info / End
          .row
            .info-block__item.info-block__item--nopadding
              ul.social-links
                li.social-links__item
                  a.social-links__link(href='https://www.facebook.com/findit254')
                    i.fab.fa-facebook-f.fa-1x.pl-3
                    |   Facebook
                li.social-links__item
                  a.social-links__link(href='https://twitter.com/findit254?lang=en')
                    i.fab.fa-twitter
                    |   Twitter
                li.social-links__item
                  a.social-links__link(href='https://www.instagram.com/finditkenya/?hl=en')
                    i.fab.fa-google-plus
                    |   Google+
    // Footer Widgets / End
    // Footer Secondary
    .footer-secondary
      .container
        .footer-secondary__inner
          .row
            .col-md-4
              .footer-copyright
                a(href='_soccer_index.html') find it
                |  2019 &nbsp; | &nbsp; All Rights Reserved
            .col-md-8
              ul.footer-nav.footer-nav--right.footer-nav--condensed.footer-nav--sm
                li.footer-nav__item
                  a(href='/') Home
                li.footer-nav__item
                  a(href='#footer') About
                li.footer-nav__item
                  a(href='#footer') Contacts
    // Footer Secondary / End
  // Footer / End

//
  Javascript Files
  ==================================================
// Core JS
script(src='/assets/vendor/jquery/jquery.min.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')
script(src='/assets/js/core.js')
// Vendor JS
script(src='/assets/vendor/twitter/jquery.twitter.js')
// Template JS
script(src='/assets/js/init.js')
script(src='/assets/js/custom.js')


//PREVIOUS JAVASCRIPTS
//script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/plugins.js')
script(src="/javascripts/owl.carousel.min.js")
script(src='/javascripts/main.js')
script(src='/javascripts/axios.min.js')
script(src='/javascripts/jquery.easy-autocomplete.min.js')
script(src="/javascripts/tinymce.min.js")
script(src="/javascripts/jquery-gmaps-latlon-picker.js")
script(src="/javascripts/jquery.autocomplete.min.js")
script(src="/javascripts/lightgallery.min.js")
script(src="/javascripts/moment.min.js")
script(src="/javascripts/bootstrap-datetimepicker.min.js")
script(src='/javascripts/bootstrap-select.min.js')
script(src='/javascripts/notify.js')
script(src='/javascripts/axios.min.js')
script(src="/javascripts/admin/Sortable.min.js")
script(type='text/javascript').
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5b0e9fa610b99c7b36d47662/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
  
script(type='text/javascript').
  const mq = window.matchMedia( "(min-width: 450px)" );
  $('.phonenofake').click(function() {
      $('.phoneno').show();
      $('.phonenofake').hide();
      var bizid = $('#biz-id').text();
      $.ajax({
          type:'GET',
          url:'/biz/analytics/'+bizid,
          success:function(response){
              if(response == 1 || response == '1'){ 

              }else{

              }
          }
      });
  });
  if (mq.matches) {
    // window width is at least 450px
  } else {
    // window width is less than 450px
    $('div.dropdown-category').removeClass('open');
  }
  lightGallery(document.getElementById('lightgallery'));

  $('.datetimepicker').datetimepicker({      
      sideBySide: true,
      format: 'DD-MM-YYYY HH:mm:ss'
  });

  $('.timepicker').datetimepicker({      
      sideBySide: true,
      format: 'HH:mm'
  });

  $('.timepicker').click(function(event){
    $(this).removeAttr('readonly').select();
  });

  $('.timepicker').blur(function(event){
    $(this).attr('readonly', 'readonly');
  });

  $('.hoursopened').val('08:00');
  $('.hoursclosed').val('17:00');

  $(document).on('click', ".cat", function() {
      var originalHeight = $('#bottom-scroll').height();
      $(this).addClass('godown');
      $(this).removeClass('cat');
      $(this).removeClass('arrow-up');
      $(this).addClass('arrow-down');
      $('#bottom-scroll').animate({height:'40%'})
  });

  $(document).on('click', ".godown", function() {
      $(this).removeClass('godown');
      $(this).addClass('cat');
      $(this).removeClass('arrow-down');
      $(this).addClass('arrow-up');
      $('#bottom-scroll').animate({height: '23%'},500)
  });
  $(document).ready(function() {

    $('#spnCharLeft').css('display', 'none');
    var maxLimit = 100;
    $(document).ready(function () {
        $('').keyup(function () {
            var lengthCount = this.value.length;              
            if (lengthCount > maxLimit) {
                this.value = this.value.substring(0, maxLimit);
                var charactersLeft = maxLimit - lengthCount + 1;                   
            }
            else {                   
                var charactersLeft = maxLimit - lengthCount;                   
            }
            $('#spnCharLeft').css('display', 'block');
            $('#spnCharLeft').text(charactersLeft + ' Characters left');
        });
    });

  // navigation click actions
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });

  $('.categoryModal').on("click",function(event){
    categ = this.id;
    axios.get('/fetchCat/'+ categ)
    .then(function (response) {
      $('#categoriesFetched').html();
      response.data.subcategories.forEach(function(element) {
          console.log(element);
          $('#categoriesFetched').append('<div class="col-md-3 col-xs-6 padding-10"><a href="/subcategory/'+element.name+'"><i class="fa fa-glass fa-1x" aria-hidden="true"></i> '+element.name+'</a></div>');
      });
      //$('#categoriesFetched').append('</div>');
    })
    .catch(function (error) {
      console.log(error);
    });
  });

    var $cat = $(".subcategory"),
        $subcat = $(".ssubcategory");
    
    $cat.on("change",function(){
        var _rel = $(this).find(":selected").val();
        if(_rel == 'Events'){
            $('.timeopen').hide();
            $('#endeventDate').show();
            $('#starteventDate').show();
        }else{
            $('#startDate').show();
            $('.timeopen').show();
            $('#endeventDate').hide();
            $('#starteventDate').hide();
        }
        

        $.ajax({
              type: "GET",
              url: "/business/fetchcategory/"+_rel,
              success: function(data){
                  // Parse the returned json data
                  //var opts = $.parseJSON(data);
                  
                  $subcat.empty();
                  $.each(data, function(i, d) {
                      // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                      console.log(d.name);
                      $('#ssubcategory').append('<option data-icon="glyphicon-wrench" value="' + d.name + '">' + d.name + '</option>');
                      $('#ssubcategoryy').append('<option data-icon="glyphicon-wrench" value="' + d.name + '">' + d.name + '</option>');
                  });
                  $('.selectpicker').selectpicker('refresh');
              }
          });
      
    });

    var $cate = $(".cat"),
        $subcate = $(".subcat"),
        $minicat = $(".minicat");
    
    $cate.on("change",function(){
        var _rel = $(this).find(":selected").val();        

        $.ajax({
              type: "GET",
              url: "/product/fetchcategory/"+_rel,
              success: function(data){
                  // Parse the returned json data
                  //var opts = $.parseJSON(data);
                  
                  $subcate.empty();
                  $.each(data, function(i, d) {
                      // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                      //console.log(d.name);
                      $('#subcat').append('<option value="' + d.name + '">' + d.name + '</option>');
                  });
                  $('.selectpicker').selectpicker('refresh');
                  
                  $minicat.empty();
                  $.each(data, function(i, d) {
                    $.each(d.minicategories, function(f, g) {
                      //console.log(g);
                      if (typeof g.name !== 'undefined'){                        
                        $('#minicat').append('<option value="' + g.name + '">' + g.name + '</option>');
                      }
                    });
                  });
                  $('.selectpicker').selectpicker('refresh');
              }
          });
      
    });


  tinymce.init({ 
            selector:'#review',
            height: 100,
            width: '100%',
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
              ],
              toolbar: 'undo redo | insert | styleselect',
              content_css: '//www.tinymce.com/css/codepen.min.css'
        });
  tinymce.init({ 
            selector:'#descriptionw',
            height: 150,
            width: '100%',
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
              ],
              toolbar: 'undo redo',
              content_css: '//www.tinymce.com/css/codepen.min.css'
        });




        var options = {

          url: function(phrase) {
            return "/nss/"+$('#search2').val();
          },

          getValue: function(element) {
            return element.slug;
          },
          template: {
            type: "description",
            fields: {
              description: "website"
            }
          },
          list: {
            onClickEvent: function() {
              self.location = "/"+$("#search2").getSelectedItemData().slug;
            } 
          },
          ajaxSettings: {
            method: "GET"
          },
          theme: "square",
          requestDelay: 200
        };

  $("#search2").easyAutocomplete(options);
  $( "#search2" ).focus();
  // scroll to top action
  $('.scroll-top').on('click', function(event) {
  event.preventDefault();
  $('html, body').animate({scrollTop:0}, 'slow');
  });
  // mobile nav toggle
  $('#nav-toggle').on('click', function (event) {
  event.preventDefault();
  $('#main-nav').toggleClass("open");
  });
  });
  // scroll function
  function scrollToID(id, speed){
    var offSet = 50;
    var targetOffset = $(id).offset().top - offSet;
    var mainNav = $('#main-nav');
    $('html,body').animate({scrollTop:targetOffset}, speed);
    if (mainNav.hasClass("open")) {
      mainNav.css("height", "1px").removeClass("in").addClass("collapse");
      mainNav.removeClass("open");
    }
  }
  if (typeof console === "undefined") {
  console = {
  log: function() { }
  };

  }
