doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    
    meta(name="google-site-verification", content="CoXsTMnoIpW_aQqFyEqaFZ4cKbYSrSwUXQca9u_6mMg")
    meta(name='detectify-verification' content='4b58feec243b9155af7b9deca04e2605')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900', rel='stylesheet')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js")
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png")
    //custom theme files
    link(href="/stylesheets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all")
    link(href="/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="all")
    
    
    //font-awesome icons
    link(href="/stylesheets/css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet")
    //link(href="/stylesheets/css/fontawesome-all.min.css" rel="stylesheet")
    //star rating
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //online-fonts
    link(href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet")
    script(src="/javascripts/jquery-3.3.1.min.js") 
    script(src='/javascripts/jquery.easy-autocomplete.min.js')
    
   
    link(rel='stylesheet', href='/stylesheets/lightbox.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/easy-autocomplete.min.css')
    link(rel='stylesheet', href='/stylesheets/easy-autocomplete.themes.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-gmaps-latlon-picker.css')
    link(rel='stylesheet', href='/stylesheets/star-rating.min.css')
    link(rel='stylesheet', href='/stylesheets/lightgallery.min.css')
    

    //added css from layout
    link(rel='stylesheet', href='/stylesheets/fontAwesome.css')
    //link(rel='stylesheet', href='/stylesheets/hero-slider.css')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.default.min.css')
    //link(rel='stylesheet', href='/stylesheets/templatemo-style.css')
    link(rel='stylesheet', href='/stylesheets/lightbox.css')
    //old selector css//link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    
    
    
    
    script(type='text/javascript').
        addEventListener("load", function () {
          setTimeout(hideURLbar, 0);
          }, false)
          function hideURLbar() {
              window.scrollTo(0, 1);
          }
    //custom template files
body
  .container-fluid(style="background-color: #eae6e6; opacity: 0.7;")
    ul.navbar-nav.ml-lg-auto.text-center
      .row
          .col-md-2
            a(href='https://www.findit.ke/')
              li 
                img(src='/img/favicon-16x16.png')
                small 
                  strong   Add your business
          .col-md-2
            a(href='https://sokoestate.com/' target='_blank')
              li
                img(src='/img/sokoestateicon.png')
                small 
                  strong    Find Housing
          .col-md-2
            a(href='https://sokompare.com/' target='_blank')
              li
                img(src='/img/sokompareicon.png')
                small 
                  strong     Find Cars
          


      //.row(style="background-color: rgba(255,255,255,0.9); color: #c00000;")
        .col-md-12.col-sm-12.col-xs-12
          marquee(behavior='scroll' direction='left') Advertise with us... 
  //banner - only on homepage
  div.container-fluid
    header
      //header before navigation items
      nav#homenavbar.navbar.navbar-expand-lg.navbar-light.bg-gradient-secondary
        div#nav-style
          div#nav-list
            a.navbar-brand.text-white(href="/")
              img.img-logo(src="/img/findit-red-logo.png").img-fluid
          div#nav-list
            #showSearch
              form.form-class(method='get', action='/search')
                div.input-group
                  input.search2.form-control-lg(type="text" placeholder="Restaurants, Businesses, Doctors..." ,style="width:100% !important" ,name='search', autofocus)
          div#nav-list      
            a(href="/coupons")
              button.btn.btn-light.w3ls-btn.coupons-btn.flash-button#coupbtn(type="button")
                span.fas.fa-gift.coupons-text-color
                | View deals
          div#nav-listmain
            //site navigation 
            button.navbar-toggler.ml-md-auto(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation")
                  span.navbar-toggler-icon
            div#navbarSupportedContent.collapse.navbar-collapse
            
              ul.nav.navbar-nav.ml-lg-auto.justify-content-end(style="float:right")
                li.dropdown.nav-item.mr-3
                  a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")    
                    strong Categories 
                   
                  div.dropdown-menu.dropdown-menu-right.mega-menu(aria-labelledby="navbarDropdown" style="width: -webkit-fill-available;")
                    if categories 
                      div.row
                        each category,i in categories
                          div.col-md-4.col-sm-12.col-xs-12
                            a.dropdown-item(href="/category/"+category.name)
                                strong.findit-blue
                                  i.fas.fa-1x(aria-hidden='true', class=category.icon) 
                                  small.findit-blue
                                    strong   
                                      =category.name
                        
                            
                //li.nav-item.mr-3
                  a(href="/")
                    span.fas.fa-home.fas-menu 
                    strong
                    |  Home
                if (loggedin)
                  li.nav-item.mr-3                  
                    a(href='/dashboard')  
                      span.fas.fa-user.fas-menu
                      strong
                      |  View Profile          
                if (loggedin)                
                  li.nav-item.mr-3
                    a(href='/logout') 
                      span.fas.fa-sign-out-alt.fas-menu
                      strong
                      |  Logout
                else
                  li.nav-item.mr-3
                    a(href='/login')
                      button.btn.btn-primary.w3ls-btn
                        strong
                          | Login
                  li.nav-item.mr-3
                  a(href="/register")
                    button.btn.btn-outline-primary.w3ls-btn.findit-blue
                      strong
                      |  Sign Up

   
    //display errors
    .errors
      if errors
        each error in errors
          .alert.xxx-error.alert-danger
            = error
      
      if message
        .alert.xxx-error.alert-info
          = message
      if success_msg.length
        .alert.xxx-error.alert-success 
          = success_msg
      if error_msg.length
        .alert.xxx-error.alert-danger 
          = error_msg
      if error.length
        .alert.xxx-error.alert-danger 
          = error
    button#back-top-Btn(onclick="topFunction()"  title="Go to top")
      span
        i.fas.fa-chevron-up
  block content
  //footer
  div.container-fluid
    
    div.row.text-center.footer-style
      .col-md-4
        .terms-policy.footer-text
              ul
                li
                  a.footer-text(href='https://www.instagram.com/finditkenya/?hl=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-facebook-f
                li
                  a.footer-text(href='https://twitter.com/findit254?lang=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-twitter 
                li
                  a.footer-text(href='https://www.instagram.com/finditkenya/?hl=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-instagram
      .col-md-4
         .terms-policy.footer-text
              ul
                li
                  a.footer-text(href='/terms-and-conditions', target='_blank')
                    |  Terms and Conditions
                li
                  a.footer-text(href='/privacy-policy', target='_blank')
                    |  Privacy Policy
      .col-md-4
        .terms-policy.footer-text
              ul
                li
                  a.footer-text(href="/coupons", target='_parent')
                    |  View Deals
                li
                  a.footer-text(href='/business/newpackage', target='_parent')
                    |  Pricing
                li
                  a.footer-text(href='https://lookfindkenya.wordpress.com/', target='_blank')
                    |  Blog
                
    .col-md-12.col-sm-12.text-center.footer-style     
        p
          | © 2018 Find it Kenya. All rights reserved | FinditKe
  
  
<!--bootstrap 4 javascript-->
script(src='/javascripts/bootstrapjs/bootstrap-select-dropdown.min.js')
script(src='/javascripts/bootstrapjs/BsMultiSelect.min.js')

//select picker js
//script(src='/javascripts/bootstrapjs/bootstrap-select.min.js')
//not working//script(src='/javascripts/bootstrapjs/bootstrap-multiselect.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js") 
script(src='/javascripts/bootstrapjs/jquery.prettyPhoto.js')
script(src='/javascripts/bootstrapjs/jquery.quicksand.js')
script(src='/javascripts/bootstrapjs/jquery-ui.js')
script(src="/javascripts/lightgallery.min.js")
script(src="/javascripts/moment.min.js")
script(src="/javascripts/bootstrap-datetimepicker.min.js")
script(src='/javascripts/bootstrap-select.min.js')
script(src='/javascripts/axios.min.js')
script(src="/javascripts/tinymce.min.js")
script(src='/javascripts/bootstrapjs/sticky-kit.min.js')
script(src='/javascripts/notify.js')
script(src='/javascripts/bootstrapjs/filter-gallery.js')
script(src='/javascripts/bootstrapjs/jquery.declarativeToggle.min.js')
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
<!-- //js -->
<!--Start of Js from old layout -->
script(src='/javascripts/plugins.js')
script(src="/javascripts/owl.carousel.min.js")
script(src='/javascripts/main.js')
script(src='/javascripts/axios.min.js')
script(src='/javascripts/jquery.easy-autocomplete.min.js')
script(src="/javascripts/jquery-gmaps-latlon-picker.js")
script(src="/javascripts/tinymce.min.js")
script(src="/javascripts/jquery-gmaps-latlon-picker.js")
script(src="/javascripts/jquery.autocomplete.min.js")
script(src="/javascripts/lightgallery.min.js")
script(src="/javascripts/moment.min.js")
script(src="/javascripts/bootstrap-datetimepicker.min.js")
//old selector css//script(src='/javascripts/bootstrap-select.min.js')
<!--End of Js from old  layout -->
<!--sript to show search on menu on scroll -->
script(type='text/javascript').
  $(window).scroll(function() {

    if ($(this).scrollTop()>2)
     {
        $(function() {
           $("#showSearch").css("visibility", "visible");
        });
     }
    else
     {
      $(function() {
           $("#showSearch").css("visibility", "hidden");
        });
     }
  });
  
<!-- sticky navbar -->
  //sticky nav
  script(type='text/javascript').
    // When the user scrolls the page, execute myFunction 
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("homenavbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
    if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }
<!-- script for password match -->
script(type='text/javascript').
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
<!-- Script for hiding search and showng it on the nav on scroll -->


<!-- script for sticky nav on scroll-->
//script back to top
  script(type='text/javascript').
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("back-top-Btn").style.display = "block";
          } else {
              document.getElementById("back-top-Btn").style.display = "none";
          }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      }
<!-- Script to open more categories-->
script(type="text/javascript").
  function openCategories() {
    var x = document.getElementById("morecategories");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
   
<!-- script for password match -->

<!-- Responsiveslides -->
script(src='/javascripts/bootstrapjs/responsiveslides.min.js')

    

<!-- // Responsiveslides -->

<!-- start-smooth-scrolling -->
script(src='/javascripts/bootstrapjs/easing.js')

<!--Start of Tawk.to Script-->
script.
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5b0e9fa610b99c7b36d47662/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();

<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
//script(src='/javascripts/bootstrapjs/SmoothScroll.min.js')
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript-->
<!-- Placed at the end of the document so the pages load faster -->
//script(src='/javascripts/bootstrapjs/bootstrap.js')
script(type='text/javascript').
  $(document).ready(function() {
  // executes when HTML-Document is loaded and DOM is ready

  // breakpoint and up  
  $(window).resize(function(){
  //if ($(window).width() >= 980){	

    // when you hover a toggle show its dropdown menu
    $(".navbar .dropdown-toggle").hover(function () {
        $(this).parent().toggleClass("show");
        $(this).parent().find(".dropdown-menu").toggleClass("show"); 
      });

      // hide the menu when the mouse leaves the dropdown
    //$( ".navbar .dropdown-menu" ).mouseleave(function() {
      //$(this).removeClass("show");  
    //});

  // do something here
  //}
  });  
     
  // document ready  
  });

  
// Script to populate dependable dropdown on add business
script(type='text/javascript').
 
    
  $(function() {
    //DONUT STORIES
    
    
    //KEV
    const mq = window.matchMedia( "(min-width: 450px)" );
    $('.phonenofake').click(function() {
        $('.phoneno').show();
        $('.phonenofake').hide();
        var bizid = $('#biz-id').text();
        $.ajax({
            type:'GET',
            url:'/biz/analytics/'+bizid,
            success:function(response){
                if(response == 1 || response == '1'){ 

                }else{

                }
            }
        });
    });
    if (mq.matches) {
      // window width is at least 450px
    } else {
      // window width is less than 450px
      $('div.dropdown-category').removeClass('open');
    }
    lightGallery(document.getElementById('lightgallery'));

    $('.datetimepicker').datetimepicker({      
        sideBySide: true,
        format: 'DD-MM-YYYY HH:mm:ss'
    });

    $('.timepicker').datetimepicker({      
        sideBySide: true,
        format: 'HH:mm'
    });

    $('.timepicker').click(function(event){
      $(this).removeAttr('readonly').select();
    });

    $('.timepicker').blur(function(event){
      $(this).attr('readonly', 'readonly');
    });

    $('.hoursopened').val('08:00');
    $('.hoursclosed').val('17:00');

    
    $(document).on('click', ".cat", function() {
        var originalHeight = $('#bottom-scroll').height();
        $(this).addClass('godown');
        $(this).removeClass('cat');
        $(this).removeClass('arrow-up');
        $(this).addClass('arrow-down');
        $('#bottom-scroll').animate({height:'40%'})
    });

    $(document).on('click', ".godown", function() {
        $(this).removeClass('godown');
        $(this).addClass('cat');
        $(this).removeClass('arrow-down');
        $(this).addClass('arrow-up');
        $('#bottom-scroll').animate({height: '23%'},500)
    });
  
    
    $(document).ready(function() {

      $('#spnCharLeft').css('display', 'none');
      

    // navigation click actions
    $('.scroll-link').on('click', function(event){
      event.preventDefault();
      var sectionID = $(this).attr("data-id");
      //scrollToID('#' + sectionID, 750);
    });

    $('.categoryModal').on("click",function(event){
      categ = this.id;
      axios.get('/fetchCat/'+ categ)
      .then(function (response) {
        $('#categoriesFetched').html();
        response.data.subcategories.forEach(function(element) {
            console.log(element);
            $('#categoriesFetched').append('<div class="col-md-3 col-xs-6 padding-10"><a href="/subcategory/'+element.name+'"><i class="fa fa-glass fa-1x" aria-hidden="true"></i> '+element.name+'</a></div>');
        });
        //$('#categoriesFetched').append('</div>');
      })
      .catch(function (error) {
        console.log(error);
      });
    });

     
    
     /*  var $cat = $(".subcategory"),
          $subcat = $(".ssubcategory");
      
      $cat.on("change",function(){
          var _rel = $(this).find(":selected").val();
          alert(_rel);
              url= "/business/fetchcategory/"+ _rel;
          alert(url);
          $.ajax({
              type: "GET",
              url: url,
              success: function(data){
                  // Parse the returned json data
                  //var opts = $.parseJSON(data);
                  console.log(data);
                  $(".ssubcategory").empty();
                  $.each(data, function(i, d) {
                      // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                      console.log(d.name);
                      $(".ssubcategory").append('<option value="' + d.name + '">' + d.name + '</option>');
                      //old $('#ssubcategoryy').append('<option value="' + d.name + '">' + d.name + '</option>');
                  });
              }
          });
          if(_rel == 'Events'){
              $('.timeopen').hide();
              $('#endeventDate').show();
              $('#starteventDate').show();
          }else{
              $('#startDate').show();
              $('.timeopen').show();
              $('#endeventDate').hide();
              $('#starteventDate').hide();
          }*/

        
      });
     
      

    tinymce.init({ 
              selector:'#review',
              height: 100,
              width: '100%',
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'undo redo | insert | styleselect',
                content_css: '//www.tinymce.com/css/codepen.min.css'
          });
    tinymce.init({ 
              selector:'#descriptionw',
              height: 150,
              width: '100%',
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'undo redo',
                content_css: '//www.tinymce.com/css/codepen.min.css'
          });




          var options = {

            url: function(phrase) {
              return "/nss/"+$('.search2').val();
            },

            getValue: function(element) {
              return element.slug;
            },
            template: {
              type: "description",
              fields: {
                description: "website"
              }
            },
            list: {
              onClickEvent: function() {
                self.location = "/biz/"+$('.search2').getSelectedItemData().slug;
              } 
            },
            ajaxSettings: {
              method: "GET"
            }
          };
    var timer;      
    
    
    $(".search2").easyAutocomplete(options);
    $(".search2" ).focus();
    // scroll to top action
    
    /*$('.scroll-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop:0}, 'fast');
    });
    // mobile nav toggle
    $('#nav-toggle').on('click', function (event) {
    event.preventDefault();
    $('#main-nav').toggleClass("open");
    });
    });*/
    // scroll function
    function scrollToID(id, speed){
      var offSet = 50;
      var targetOffset = $(id).offset().top - offSet;
      var mainNav = $('#main-nav');
      $('html,body').animate({scrollTop:targetOffset}, speed);
      if (mainNav.hasClass("open")) {
        mainNav.css("height", "1px").removeClass("in").addClass("collapse");
        mainNav.removeClass("open");
      }
    }
  });
  
// Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-102320208-3")
script(type='text/javascript').
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-102320208-3');

script(type='text/javascript').
  $(document).ready(function(){
    $("#showmore").click(function(){
        $("#mobile-view").hide();
        $("#mobile-view").css("cssText", "display: none !important;");
        $("#show-more").show();
    });
    $("#showless").click(function(){
        $("#show-more").hide();
        $("#mobile-view").show();
    });
  });
