extends ../layout-min

block content
  #home.baner-content-listing-biz
    .container-fluid.container-margin-top
      .container
        form(method='post', action='https://payments.ipayafrica.com/v3/ke')
          input(name='hsh', type='hidden', value=hash)
          each input,i in inputs
            input(name=i, type='hidden', value=input)
          h3.text-center
            | Pay This Amount to Claim Your Business
          p 
            h6.text-center.findit-red
             | N/B: The payment recurs annually
          br
          span.btn.btn-grey.btn-block.btn-lg.noLnk(style=' border: 1px solid;margin-bottom:10px;')
            small(style='text-transform: none;') KShs. #{inputs.ttl} for #{package} Package.
            strong(id='')
          button.btn.btn-primary.form-control(type='submit')
            | Pay Now