extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .row.flowerwhite
        .col-md-9
          .row          
            if(biz.photo)
              .col-md-3
                img.img-responsive(src="/uploads/thumbs/cover"+ biz.photo,width="80%") 
            .col-md-9
              h3.text-left 
                =biz.name
              
              p.text-left
                each feature in biz.features
                  a(href="/subcategory/"+feature)
                    strong
                      span.fa.fa-cog.glyph.border 
                      |  #{feature} | 
              p.text-left
                if (biz.openstatus.isOpen)
                  if (biz.openstatus.isOpen == true)
                    span.label.label-success
                      span.glyphicon.glyphicon-ok-circle.glyph
                      |  Now Open
                  else
                    span.label.label-danger
                      span.glyphicon.glyphicon-ban-circle.glyph
                      |  Now Closed
                - var list = [1,2,3,4,5]
                - list.sort((a,b)=>{return Math.random()-0.5})
              
          .row                        
            .col-md-4.padding-map.mapbox.nomargin
              
              iframe(width='90%', height='150', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/view?zoom='+biz.map.zoom+'&center='+biz.map.lati+','+biz.map.long+'&key=AIzaSyA0P3blnbZTWe7vHDrbX3Bsd7RA2Y5ViTk', allowfullscreen='',)
              .row.is-island
                .col-md-12
                  if biz.building
                    p.text-left
                      strong
                        span.fa.fa-building.glyph.border
                        |  #{biz.building}
                  if biz.street
                    p.text-left
                      strong
                        span.fa.fa-road.glyph.border
                        |  #{biz.street}
                .col-md-12
                  p.text-left
                    strong
                      span.glyphicon.glyphicon-th-list.glyph.border
                      |  #{biz.subcategory}
                  hr.nomargin
                if(biz.website)
                  .col-md-12
                    p.text-left
                      strong
                        span.glyphicon.glyphicon-globe.text-success.glyph.border
                        a.findit(href="http://"+biz.website,target="_blank",style="color:#22177d;")
                          |  Website
                  hr.nomargin
                .col-md-12
                  p.text-left
                    each phone in phones
                      span#biz-id(style="display:none")
                        =biz.id
                      span.glyphicon.glyphicon-earphone.text-info.glyph.border
                      a.findit.phoneno(href="tel:"+phone,style="color:#2862ec;display:none")
                        |  #{phone}
                      a.findit.phonenofake(href="#",style="color: #bc1206")
                        |  Get Contacts
                      br
                  hr.nomargin
                .col-md-12.text-left
                  p.text-left
                    each email in emails
                      strong
                        span.fa.fa-envelope.glyph.border
                        a.findit(href="mailto:"+email,style="color:#22177d;")
                          |  Mail
                      br
                  hr.nomargin
                if(biz.facebook)
                  .col-md-12.text-left
                    p 
                      strong
                        span.fa.fa-facebook-official.text-info.glyph.border
                        a.findit(href="http://"+biz.facebook,target="_blank",style="color:#22177d;") 
                          | Facebook
                if(biz.twitter)
                  .col-md-12.text-left
                    p 
                      strong
                        span.fa.fa-twitter.text-info.glyph.border 
                        a.findit(href="http://"+biz.twitter,target="_blank",style="color:#22177d;")
                          |  Twitter
                if(biz.instagram)
                  .col-md-12.text-left
                    p 
                      strong
                        span.fa.fa-instagram.text-info.glyph.border 
                        a.findit(href="http://"+biz.instagram,target="_blank",style="color:#22177d;")
                          |  Instagram
                if(biz.linkedin)
                  .col-md-12.text-left
                    p 
                      strong
                        span.fa.fa-linkedin.text-info.glyph.border 
                        a.findit(href="http://"+biz.linkedin,target="_blank",style="color:#22177d;")
                          |  LinkedIn
                if(biz.youtube)
                  .col-md-12.text-left
                    p 
                      strong
                        span.fa.fa-youtube.text-info.glyph.border 
                        a.findit(href="http://"+biz.youtube,target="_blank",style="color:#22177d;")
                          |  Youtube
                

                if (biz.catalog.length)
                  .col-md-12.text-left
                    each catalogue, i in biz.catalog
                      if (catalogue)
                        strong
                          span.glyphicon.glyphicon-list-alt.glyph.border
                          a.findit(href="/business/catalog/"+catalogue.filename, target="_blank")
                            |  Menu #{i+1}
                      hr   
                .col-md-12.text-center
                  if biz.paid
                    span.fa.fa-check-circle.strong(style="color:#2862ec;")
                    strong
                      |  Claimed
                  else
                    h4 Claim This Business
                    form(method='get', action='/claim-form/'+biz.id)
                      .form-group
                        input.form-control(name='phone', type='text', value='', placeholder='phone')
                      .form-group
                        input.form-control(name='email', type='text', value='', placeholder='email')
                      .form-group
                        button.btn.btn-danger.form-control(type='submit')                 
                          | Claim Business
              if (biz.openstatus)
                .row
                  .col-md-12.findit-red.padding20
                    strong
                      span.fa.fa-clock-o.glyph.border 
                      |  Opening & Closing Hours
                  .col-md-12
                    each hour in biz.hours.monday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Monday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.tuesday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Tuesday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.wednesday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Wednesday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.thursday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Thursday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.friday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Friday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.saturday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Saturday: #{hour.opens} - #{hour.closes}
                    each hour in biz.hours.sunday
                      if(hour.opens === hour.closes)
                        |  Closed
                      else
                        p Sunday: #{hour.opens} - #{hour.closes}
            .col-md-7.col-xs-12
              
              .row(width="100%")
                  #lightgallery.thumbnails.scrollmenu
                    if biz.gallery
                      each image in biz.gallery
                        a.nopadding(href='/uploads/'+image.filename, width="", alt='#{biz.slug}')
                          .thumbnail
                            img.img-thumbnail.img-responsive(src='/uploads/thumbs/gallery-'+image.filename,  alt='')
                      .pull-left
                        small
                          strong
                            | Scroll this Gallery Left or Right
              .row
                if(biz.deliverylink)
                  .col-md-6.col-md-offset-3(style="background-color:#d8d6d6;padding:5px;border-radius:25px;")
                    p 
                      span.fa.fa-motorcycle.text-info.glyph.border(style="color:#b10505;")
                      a.findit(href="http://"+biz.deliverylink,target="_blank",style="color:#b10505;font-size:18px")
                        strong
                          |  Place Your Order Now
                if(biz.bookinglink)
                  .col-md-6.col-md-offset-3(style="background-color:#d8d6d6;padding:5px;border-radius:25px;")
                    p 
                      span.fa.fa-plane.text-info.glyph.border(style="color:#b10505;")
                      a.findit(href="http://"+biz.bookinglink,target="_blank",style="color:#b10505;font-size:18px;")
                        strong
                          |  Book or Reserve Now
              if biz.description
                .panel
                  .findit-red.padding10top
                    strong
                      span.fa.fa-info-circle.glyph.border
                      | More Information
                  .panel-body
                    p.padding-p  !{biz.description}
              .row
                .panel-body                
                  if biz.extras.length 
                    each extra in biz.extras 
                      span.label.label-dark
                        =extra
              .col-md-12
                h3.text-left
                  strong
                    span.fa.fa-comments.fa-2x.text-info.glyph.border
                    | Reviews
                each review in biz.reviews              
                  .row               
                    .col-md-1.text-left 
                      span.glyphicon.glyphicon-comment.glyph.border
                    .col-md-3
                      .col-md-12(class="rating medium star-icon value-"+review.rate+" label-hidden")
                        .star-container
                          .star
                            i.star-empty
                            i.star-half
                            i.star-filled
                          .star
                            i.star-empty
                            i.star-half
                            i.star-filled
                          .star
                            i.star-empty
                            i.star-half
                            i.star-filled
                          .star
                            i.star-empty
                            i.star-half
                            i.star-filled
                          .star
                            i.star-empty
                            i.star-half
                            i.star-filled
                    .col-md-8.text-left
                      p
                        | !{review.msg}
                  hr
              
            if biz.youtube
              h3.text-left
                | Youtube
              .col-md-6
                iframe(width='100%', height='315', src="https://"+biz.youtube, allow=" encrypted-media" allowfullscreen)
            
          .row 
            .col-md-12 
              .row
                hr
                .col-md-12 
                  .findit-red.padding10
                    strong 
                      span.fa.fa-comment.text-info.glyph.border
                      | Submit a Review
                .col-md-12
                  form.form-horizontal(method="post",action="/business/review/")                
                    .col-md-12
                      textarea.form-control-form(name='review')
                      input#bizid(type='hidden', name='bizid',value=biz.id)
                    .col-md-12.text-left
                      strong
                        | Star Rating
                      fieldset.ratings
                        input#star5(type='radio', name='rating', value='5')
                        label.full(for='star5', title='Awesome - 5 stars')
                        input#star4half(type='radio', name='rating', value='4 half')
                        label.half(for='star4half', title='Pretty good - 4.5 stars')
                        input#star4(type='radio', name='rating', value='4')
                        label.full(for='star4', title='Pretty good - 4 stars')
                        input#star3half(type='radio', name='rating', value='3 half')
                        label.half(for='star3half', title='Meh - 3.5 stars')
                        input#star3(type='radio', name='rating', value='3')
                        label.full(for='star3', title='Meh - 3 stars')
                        input#star2half(type='radio', name='rating', value='2 half')
                        label.half(for='star2half', title='Kinda bad - 2.5 stars')
                        input#star2(type='radio', name='rating', value='2')
                        label.full(for='star2', title='Kinda bad - 2 stars')
                        input#star1half(type='radio', name='rating', value='1 half')
                        label.half(for='star1half', title='Meh - 1.5 stars')
                        input#star1(type='radio', name='rating', value='1')
                        label.full(for='star1', title='Sucks big time - 1 star')
                        input#starhalf(type='radio', name='rating', value='half')
                        label.half(for='starhalf', title='Sucks big time - 0.5 stars')
                    .col-md-12
                      button.button.btn.btn-danger.form-control(type='submit') Submit Review
        if(similarbiz)
          .col-md-3
            h3
              strong
                | Similar Businesses          
            each bizna in similarbiz            
              a(href="/"+bizna.slug)
                .row.is-island
                  h5
                    span.fa.fa-street-view.glyph.border
                    =bizna.name
                  p
                    =bizna.subcategory
      .row

        
