extends ../layout

block content
    #home.parallax-content-list.baner-content-listing-biz
      .row
      .col-md-3
          if subcategory
              .panel-heading.category
                .text-center
                  a(href="/subcategory/"+subcategory)
                    strong  
                      =subcategory
          
          if subcategory
            if features.length
              .panel.panel-warning
                .panel-body.black
                  strong Filter   
                     .panel-heading.category
                       a(href="/nearby/"+features[0].name+"/"+subcategory)
                        strong   
                          |  Nearby
          .dropdown.open.dropdown-category
            button.btn.btn-default.form-control.dropdown-toggle(type='button', data-toggle='dropdown')
              | Filter Sub Categories  
              span.caret
            ul.dropdown-menu(style="width: -webkit-fill-available;")
              if features 
                each feature in features
                  each item in feature.subcategories
                    .panel-heading.category
                      li.text-center
                        a(href="/subcategory/"+item.name)
                          strong  
                            =item.name
      .col-md-9
        ul
        each biz in businesses
          .row.flowerwhite
              a(href="/"+biz.slug)
                if(biz.photo)
                  .col-md-4
                    img(src="/uploads/"+ biz.photo, height="200px")
                .col-md-8
                  h3.text-left
                    =biz.name
                    if (biz.paid == true)
                      small                      
                        span.fa.fa-check-circle.strong(style="color:#2862ec;")
                  if (typeof(biz.description) !== 'undefined' && biz.description.length > 150)
                    p.padding.text-left  !{biz.description.substr(0, 150) + '..... <strong style="color:#d44457">Read More</strong>'}
                .col-md-12                  
                  .row
                    .col-md-2.text-left
                      p 
                        span.glyphicon.glyphicon-globe.text-success.glyph.border 
                        a(href=biz.website,target="_blank")
                          |  website
                    if(biz.phone)
                      .col-md-2.text-left
                        p 
                          span.glyphicon.glyphicon-earphone.text-info.glyph.border 
                          |  #{biz.phone}
                    .col-md-2.text-left
                      p
                        if biz.reviews
                          if( biz.reviews.length == 1) 
                            .col-md-6(class="rating medium star-icon value-4 label-hidden")
                              .star-container
                                .star
                                  i.star-empty
                                  i.star-half
                                  i.star-filled
                                .star
                                  i.star-empty
                                  i.star-half
                                  i.star-filled
                                .star
                                  i.star-empty
                                  i.star-half
                                  i.star-filled
                                .star
                                  i.star-empty
                                  i.star-half
                                  i.star-filled
                                .star
                                  i.star-empty
                                  i.star-half
                                  i.star-filled
                            small
                              | #{biz.reviews.length} Review
                          else if( biz.reviews.length > 1)
                            span.glyphicon.glyphicon-cog.glyph.border
                              div(class="rating medium star-icon value-4 label-hidden")
                                .star-container
                                  .star
                                    i.star-empty
                                    i.star-half
                                    i.star-filled
                                  .star
                                    i.star-empty
                                    i.star-half
                                    i.star-filled
                                  .star
                                    i.star-empty
                                    i.star-half
                                    i.star-filled
                                  .star
                                    i.star-empty
                                    i.star-half
                                    i.star-filled
                                  .star
                                    i.star-empty
                                    i.star-half
                                    i.star-filled
                            |  #{biz.reviews.length} Reviews
                          else
                            span.glyphicon.glyphicon-cog.glyph.border
                            |  Be the first to review
                    if(biz.facebook)
                      .col-md-2.text-left
                        p 
                          a.findit(href="http://"+biz.facebook,target="_blank",style="color:#2862ec;")
                            span.fa.fa-facebook-f.text-info.glyph.border 
                            |  Facebook
                    if(biz.twitter)
                      .col-md-2.text-left
                        p 
                          a.findit(href="http://"+biz.twitter,target="_blank",style="color:#2862ec;")
                            span.fa.fa-twitter.text-info.glyph.border 
                            |  Twitter
                    if(biz.instagram)
                      .col-md-2.text-left
                        p 
                          a.findit(href="http://"+biz.instagram,target="_blank",style="color:#2862ec;")
                            span.fa.fa-instagram.text-info.glyph.border 
                            |  Instagram
                    if(biz.youtube)
                      .col-md-2.text-left
                        p 
                          a.findit(href="http://"+biz.youtube,target="_blank",style="color:#2862ec;")
                            span.fa.fa-youtube.text-info.glyph.border 
                            |  Youtube
