extends ../layout-new

block content
  div.container-fluid
    #home.baner-content-listing-biz
      .container-fluid.container-margin-top
        .row
          .col-md-3
              if subcategory
                  .panel-heading.category
                    .text-left.cat-items
                      a(href="/subcategory/undefined/"+subcategory)
                        strong  
                          =subcategory
              
              if subcategory
                if features.length
                  .panel.panel-warning
                    .panel-body.black.cat-items
                      strong Filter   
                        .panel-heading.category.cat-items
                          a(href="/nearby/"+features[0].name+"/"+subcategory)
                            strong 
                              span.findit-red 
                                span.fas.fa-map-marker 
                              |  Nearby
              else
                .panel.panel-warning
                  a(href="/nearby/"+category)
                    strong  
                      span.findit-red 
                        span.fas.fa-map-marker   
                      |    See Nearby  #{category}
              .dropdown.open.dropdown-category(style="padding-left: 1rem;")
                a.nav-link.dropdown-toggle(href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  | Filter Sub Categories  
                  span.caret
                  
                ul.dropdown-menu.open.sub-catbag.drop-down-sub(style="z-index: 100; overflow: hidden; border: 0px solid rgba(0,0,0,.15) !important")
                  if features 
                    li.text-left.sub-list
                        h6.findit-red
                          | Filter #{category} by Subcategory
                    each feature in features
                      .panel-heading.category
                        li.text-left.sub-list
                          a(href="/subcategory/"+categoryTitle+"/"+feature.subcategories.name style="color:#212529")
                            strong  
                              =feature.subcategories.name
          .col-md-9.category-zindex
            if businesses
              div.cathead-background.cat-box.findit-blue
                h6.cat-heading
                  | CATEGORY:  
                  =category
              each biz,i in businesses
                //if column is even
                //if (typeof(biz.slug) != 'undefined')
                a.bizlink(href="/biz/"+biz.slug)
                  div.cat-backgroundeven.cat-box.cat-shadow 
                    a.bizlink(href="/biz/"+biz.slug)  
                      .row
                        a.bizlink(href="/biz/"+biz.slug)
                          .col-md-12.findit-blue.cat-items-top.cat-header 
                            h4.findit-blue.catbiz-name
                              =biz.name  
                              if (biz.paid == true)
                                small.findit-red                    
                                  span.list-social.far.fa-check-square  
                            div.nav   
                              if(biz.facebook)
                                a.findit(href="http://"+biz.facebook,target="_blank" class="fa-layers fa-2x")
                                    i.list-social.fab.fa-facebook-f                  
                              if(biz.twitter)
                                a.findit(href="http://"+biz.twitter,target="_blank" class="fa-layers fa-2x")
                                    i.list-social.fab.fa-twitter            
                              if(biz.instagram)
                                a.findit(href="http://"+biz.instagram,target="_blank" class="fa-layers fa-2x")
                                    i.list-social.fab.fa-instagram                   
                              if(biz.youtube)
                                a.findit(href="http://"+biz.youtube,target="_blank" class="fa-layers fa-2x")
                                    i.list-social.fab.fa-youtube  
                                  
                    a.bizlink(href="/biz/"+biz.slug)      
                      .row 
                        .col-md-3       
                          if(biz.photo)
                            img.cat-image.cat-items-bottom(src="/uploads/thumbs/cover"+ biz.photo, alt=biz.name +' on FindIt Kenya', height="200px")
                          else
                            img.cat-image.cat-items-bottom(src="/img/noimageavailable.jpg", alt=biz.name+ ' on FindIt Kenya', height="200px")
                        .col-md-9
                          row
                            .col-md-12.description-cat
                              if (typeof(biz.description) !== 'undefined')
                                if biz.description.length > 250
                                  p.padding.text-left.description-cat  !{biz.description.substr(0, 250)+ '..... <strong style="background-color:#c00000; color:#fff; padding:1px">Read More</strong>'}
                                    
                                else
                                  =biz.description
                            .col-md-12.description-cat
                              a.bizlink(href="/biz/"+biz.slug)        
                                row
                                  .col-md-12   
                                    div.findit-blue 
                                      if(biz.website)
                                        a.findit(href=biz.website,target="_blank" class="fa-layers fa-1x")
                                          i.fas.fa-globe
                                        | website 
                                          
                                      else
                                        |
                                      if(biz.phone)
                                        a.findit(class="fa-layers fa-1x")
                                          i.fas.fa-mobile-alt 
                                        //a.findit.phoneno(href="tel:"+phone,style="color:#2c155a;display:none")
                                            |  #{biz.phone}
                                        a.bizlink(href="/biz/"+biz.slug)
                                          |  Get Phone Number
                                      else
                                        | 
                            a.bizlink(href="/biz/"+biz.slug)
                              .col-md-12.description-cat  
                                each feature,i in biz.features
                                  span
                                    strong 
                                      | #{feature} |
                            a.bizlink(href="/biz/"+biz.slug)
                              .col-md-12.description-cat 
                                if(!isNaN(biz.distance))  
                                  span(style="float:left;")
                                    small
                                      i.fas.fa-map-marker-alt
                                      span 
                                        =(biz.distance/1000).toFixed(1)
                                        span     km away
                        a.bizlink(href="/biz/"+biz.slug)         
                          row
                            a.bizlink(href="/biz/"+biz.slug)
                              .col-md-12   
                                div.text-right
                                    if biz.reviews
                                    if( biz.reviews.length == 1)
                                      each review in biz.reviews 
                                        .col-md-6.ratingsonCat.text-right(class="rating medium star-icon value-"+review.rate+" label-hidden")
                                          .star-container
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                        small
                                          | #{biz.reviews.length} Review
                                    else if( biz.reviews.length > 1)
                                      each review, i in biz.reviews
                                        if(i==0)
                                          .col-md-6.ratingsonCat.text-right(class="rating medium star-icon value-"+review.rate+" label-hidden")  
                                            .star-container
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                          br
                                          small
                                            | #{biz.reviews.length} Reviews
                                          br
                                  
            //ul.pagination.row
              - var n = 1;
              while n <= bizcount
                li.page-item(width="10%")
                  - if(n == page  )
                    a.page-link(href="#", style='color: #f6f9f6;background: #0056b3;') 
                      = n
                      - n++
                  - else 
                    a.page-link(href=uri+'?page='+n) 
                      = n
                      - n++
                
            
        //script to put navitems open by default
        script(type='text/javascript').
          $(document).ready(function(){
              console.log(!{JSON.stringify(businesses)});
              if($(window).width() >= 600){
                $(".dropdown-toggle").dropdown("toggle");
              }  
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                /// ------- attach users location to url
                $(".bizlink").each(function () {
                  let url =$(this).attr("href")
                  let newUrl = url+'?lon='+pos.lng+'&lat='+pos.lat;
                  $(this).attr("href", newUrl);
                });
              });            
          });
