extends ../layout-new

block content
  div.container-fluid
    #home.parallax-content-list.baner-content-listing-biz
      .container-fluid.container-margin-top
        .row
          .col-md-3
              if subcategory
                  .panel-heading.category
                    .text-left.cat-items
                      a(href="/subcategory/"+subcategory)
                        strong  
                          =subcategory
              
              if subcategory
                if features.length
                  .panel.panel-warning
                    .panel-body.black.cat-items
                      strong Filter   
                        .panel-heading.category.cat-items
                          a(href="/nearby/"+features[0].name+"/"+subcategory)
                            strong   
                              |  Nearby
              .panel.panel-warning
                a(href="/nearby/"+title)
                  strong  
                    span.findit-red 
                      span.fas.fa-map-marker   
                    |    See Nearby  #{title}
              .dropdown.open.dropdown-category
                a.nav-link.dropdown-toggle(href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  | Filter Sub Categories  
                  span.caret
                  
                ul.dropdown-menu.open.sub-catbag.drop-down-sub
                  if features 
                    li.text-left.sub-list
                        h6.findit-red
                          | Filter #{title} by Subcategory
                    each feature in features
                      .panel-heading.category
                        li.text-left.sub-list
                          a(href="/subcategory/"+feature.subcategories.name)
                            strong  
                              =feature.subcategories.name
          .col-md-9
            if businesses
              div.cathead-background.cat-box.findit-blue
                h6
                  | CATEGORY:  
                  =title
              each biz,i in businesses
                if (i % 2 === 0)
                  if (typeof(biz.slug) !== 'undefined')
                      a(href="/biz/"+biz.slug)
                        div.cat-backgroundeven.cat-box.cat-shadow   
                          .row
                            .col-md-12.findit-blue.cat-items-top.cat-header 
                                h4.findit-blue.catbiz-name
                                  =biz.name  
                                  if (biz.paid == true)
                                    small.findit-red                    
                                      span.list-social.far.fa-check-square  
                                div.nav   
                                  if(biz.facebook)
                                    a.findit(href="http://"+biz.facebook,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-facebook-f                  
                                  if(biz.twitter)
                                    a.findit(href="http://"+biz.twitter,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-twitter            
                                  if(biz.instagram)
                                    a.findit(href="http://"+biz.instagram,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-instagram                   
                                  if(biz.youtube)
                                    a.findit(href="http://"+biz.youtube,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-youtube  
                                      
                                
                          .row 
                            .col-md-3       
                              if(biz.photo)
                                img.cat-image.cat-items-bottom(src="/uploads/thumbs/cover"+ biz.photo, height="200px")
                              else
                                p
                                  | No image Available
                            .col-md-9
                              row
                                .col-md-12.description-cat
                                  if (typeof(biz.description) !== 'undefined' && biz.description.length > 150)
                                        p.padding.text-left.description-cat !{biz.description.substr(0, 150)+ '..... <strong style="background-color:#c00000; color:#fff; padding:1px">Read More</strong>'}
                              row
                                .col-md-12   
                                  div.findit-blue 
                                    if(biz.website)
                                      a.findit(href=biz.website,target="_blank" class="fa-layers fa-1x")
                                        i.fas.fa-globe
                                      | website 
                                        
                                    else
                                      |
                                    if(biz.phone)
                                      a.findit(class="fa-layers fa-1x")
                                        i.fas.fa-mobile-alt 
                                      //a.findit.phoneno(href="tel:"+phone,style="color:#2c155a;display:none")
                                          |  #{biz.phone}
                                      a(href="/biz/"+biz.slug)
                                        |  Get Phone Number
                                    else
                                      | 
                              row
                              .col-md-12     
                                div.text-right
                                  if biz.reviews
                                  if( biz.reviews.length == 1) 
                                      .col-md-6(class="rating medium star-icon value-4 label-hidden")
                                        .star-container
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                      small
                                        | #{biz.reviews.length} Review
                                  else if( biz.reviews.length > 1)
                                    span.glyphicon.glyphicon-cog.glyph.border
                                      div(class="rating medium star-icon value-4 label-hidden")
                                        .star-container
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                          .star
                                            i.star-empty
                                            i.star-half
                                            i.star-filled
                                    small
                                      | #{biz.reviews.length} Reviews
                                  else
                                    | 
                else
                  if (typeof(biz.slug) !== 'undefined')
                      a(href="/biz/"+biz.slug)
                          div.cat-backgroundodd.cat-box.cat-shadow     
                            .row
                              .col-md-12.findit-blue.cat-items-top.cat-header 
                                h4.findit-blue.catbiz-name
                                  =biz.name  
                                  if (biz.paid == true)
                                    small.findit-red                    
                                      span.list-social.far.fa-check-square  
                                div.nav   
                                  if(biz.facebook)
                                    a.findit(href="http://"+biz.facebook,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-facebook-f                  
                                  if(biz.twitter)
                                    a.findit(href="http://"+biz.twitter,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-twitter            
                                  if(biz.instagram)
                                    a.findit(href="http://"+biz.instagram,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-instagram                   
                                  if(biz.youtube)
                                    a.findit(href="http://"+biz.youtube,target="_blank" class="fa-layers fa-2x")
                                        i.list-social.fab.fa-youtube  
                                      
                                
                                  
                            .row 
                              .col-md-3       
                                if(biz.photo)
                                  img.cat-image.cat-items-bottom(src="/uploads/thumbs/cover"+ biz.photo, height="200px")
                                else
                                  p
                                    | No image Available
                              .col-md-9
                                row
                                  .col-md-12.description-cat
                                    if (typeof(biz.description) !== 'undefined' && biz.description.length > 150)
                                          p.padding.text-left.description-cat  !{biz.description.substr(0, 150)+ '..... <strong style="background-color:#c00000; color:#fff; padding:1px">Read More</strong>'}
                                row
                                  .col-md-12   
                                    div.findit-blue 
                                      if(biz.website)
                                        a.findit(href=biz.website,target="_blank" class="fa-layers fa-1x")
                                          i.fas.fa-globe
                                        | website
                                          
                                      else
                                        |
                                      if(biz.phone)
                                        a.findit(class="fa-layers fa-1x")
                                          i.fas.fa-mobile-alt 
                                        //a.findit.phoneno(href="tel:"+phone,style="color:#2c155a;display:none")
                                          |  #{biz.phone}
                                        a(href="/biz/"+biz.slug)
                                          |  Get Phone Number
                                      else
                                        | 
                                row
                                  .col-md-12 
                                    div.text-right
                                        if biz.reviews
                                        if( biz.reviews.length == 1) 
                                            .col-md-6(class="rating medium star-icon value-4 label-hidden")
                                              .star-container
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                            small
                                              | #{biz.reviews.length} Review
                                        else if( biz.reviews.length > 1)
                                          span.glyphicon.glyphicon-cog.glyph.border
                                            div(class="rating medium star-icon value-4 label-hidden")
                                              .star-container
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                                .star
                                                  i.star-empty
                                                  i.star-half
                                                  i.star-filled
                                          small
                                            |  #{biz.reviews.length} Reviews
                                        else
                                          | 
                            
            
        //script to put navitems open by default
        script(type='text/javascript').
          $(document).ready(function(){
              $(".dropdown-toggle").dropdown("toggle");
            });
