extends ../layout

block content
 .col-lg-9.p-csm-0.col-12.order-md-2
  // Shop List
  .card.card--clean
    header.card__header.card__header--shop-filter
      .shop-filter
        h5.shop-filter__result Showing 6 of 98 Restaurants
        ul.shop-filter__params
          li.shop-filter__control
            select.form-control.input-xs
              option Restaurants Price
              option Low to High
              option High to Low
          li.shop-filter__control
            select.form-control.input-xs
              option Newest First
              option Oldest First
          li.shop-filter__control
            select.form-control.input-xs
              option Show 6 per page
              option Show 12 per page
              option Show 24 per page
        .shop-filter__layout
          a.shop-filter__grid-layout.icon-grid-layout(href='_soccer_shop-grid.html')
            span.icon-grid-layout__inner
              span.icon-grid-layout__item
              span.icon-grid-layout__item
              span.icon-grid-layout__item
          a.shop-filter__list-layout.icon-list-layout.icon-list-layout--active(href='_soccer_shop-list.html')
            span.icon-list-layout__inner
              span.icon-list-layout__item
              span.icon-list-layout__item
              span.icon-list-layout__item
    .card__content
      // Products
      if businesses.length>0
       each biz,i in businesses
        ul.products.products--list.products--list-condensed
         // Product #0
         li.product__item.card
          .product__img
            .product__img-holder
              if(biz.photo)
                img(src="/uploads/thumbs/cover"+ biz.photo, alt=biz.name +' on FindIt Kenya')
              else
                img(src="/img/noimageavailable.jpg", alt=biz.name+ ' on FindIt Kenya')
          .product__content.card__content
            header.product__header
              .product__header-inner                
                span.product__category | BBQ
                h2.product__title
                  a(href='singleproduct.html') #{biz.name}
                .product__ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
            .product__excerpt
              if(biz.description != '' )
                if(biz.description.length > 150)
                  p !{biz.description.substr(0, 150)+ '... <strong style="background-color: #5366ff; color:#fff; padding-left: 4px;padding-right: 6px;border-radius: 5px;">Read More</strong>'}
                else 
                  p !{biz.description.substr(0, 150)+ '...'}
            footer.product__footer
              ul.post__meta.meta.float-right
                if(biz.website)
                  li.meta__item.meta__item--likes
                  a(href=biz.website,target="_blank" )
                    i.meta-like.icon-globe
                    |   www.website.com
                li.meta__item.meta__item--likes
                a(href='#')
                  i.meta-like.icon-envelope-letter
                  |   mag@website.com
                if(biz.phone)
                  li.meta__item.meta__item--likes
                  a(href='#')
                    i.meta-like.icon-screen-smartphone
                    |   #{biz.phone}
              each feature,i in biz.features
                span.label.posts__cat-label #{feature}
        
        // Product #5 / End
      // Products / End
  // Shop List / End
  // Shop Pagination
  nav.shop-pagination(aria-label='Shop navigation')
    ul.pagination.pagination--condensed.pagination--lg.justify-content-end
      li.page-item.active
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        span.page-link ...
      li.page-item
        a.page-link(href='#') 16
  // Shop Pagination / End
 .sidebar.sidebar--shop.col-md-3.col-sm-12.order-md-1
  // Widget: Categories
  aside.widget.card.widget--sidebar.widget_categories
    
    .widget__title.card__header
      h4 Categories Filter
      .p-0.col-md-12.mt-3
        form#mobile-search-form.search-form(action='#')
          input#filtr.form-control.header-mobile__search-control(type='text' value='' placeholder='Search by category...')
    .widget__content.card__content
      ul#filtul.widget__list
        if subcategory
          li
            a(href="/subcategory/undefined/"+subcategory)
              strong  
                =subcategory
        if subcategory
          if features.length
            li
              a(href="/nearby/"+features[0].name+"/"+subcategory)
                strong 
                  span.findit-red 
                   span.fas.fa-map-marker 
                    |  Nearby
        else
          li
            a(href="/nearby/"+category)
              strong  
               span.findit-red 
                span.fas.fa-map-marker   
               |    See Nearby  #{category}
        if features
          each feature in features
            li
              a(href="/subcategory/"+categoryTitle+"/"+feature.subcategories.name) 
                =feature.subcategories.name
        
  // Widget: Categories / End
  // Widget: Hot Products
  aside.widget.card.widget--sidebar.widget-products
    .widget__title.card__header
      h4 Hot Deals
    .widget__content.card__content
      ul.products-list
        li.products-list__item
          figure.products-list__product-thumb
            a(href='#')
              img(src='assets/images/rest.jpg' alt='')
          .products-list__inner
            span.products-list__product-cat Bao Box
            h5.products-list__product-name
              a(href='#') Burgers @ half price 
            .products-list__product-ratings
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star.empty
            .products-list__product-sum
              span.products-list__product-price Ksh 28.00
        li.products-list__item
          figure.products-list__product-thumb
            a(href='#')
              img(src='assets/images/rest2.jpg' alt='')
          .products-list__inner
            span.products-list__product-cat Bao Box
            h5.products-list__product-name
              a(href='#') Burgers @ half price 
            .products-list__product-ratings
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star.empty
            .products-list__product-sum
              span.products-list__product-price Ksh 28.00
        li.products-list__item
          figure.products-list__product-thumb
            a(href='#')
              img(src='assets/images/burger.jpg' alt='')
          .products-list__inner
            span.products-list__product-cat Bao Box
            h5.products-list__product-name
              a(href='#') Burgers @ half price 
            .products-list__product-ratings
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star.empty
            .products-list__product-sum
              span.products-list__product-price Ksh 28.00
  // Widget: Hot Products / End

