extends ../layout-min


block content
  div.container-fluid
  #home.baner-content-listing-biz
    .container-fluid.container-margin-top
      if(suggestion)
        .row
          .col-md-12.search-padding
              strong
                | Did you mean: 
              a.bizlink(href="search?search="+suggestion)
                  |  #{suggestion}
      .row          
        .col-md-12.search-padding
          
          if(businesses.length)
            each biz in businesses       
              a.bizlink(href="/biz/"+biz.slug)  
                .row
                  a.bizlink(href="/biz/"+biz.slug)
                    div.cat-backgroundeven.cat-box.cat-shadow 
                      .row
                        a.bizlink(href="/biz/"+biz.slug)
                          .col-md-12.findit-blue.cat-items-top.cat-header 
                              h4.findit-blue.catbiz-name
                                =biz.name  
                                if (biz.paid == true)
                                  small.findit-red                    
                                    span.list-social.far.fa-check-square  
                              div.nav   
                                li.text-center(style="text-align:center")
                                  if biz.features
                                    each feature in biz.features
                                      a.bizlink(href="/subcategory/btn/"+feature)
                                        strong
                                          i.fas.fa-tag
                                          | #{feature} |
                                if(biz.facebook)
                                  a.findit(href="http://"+biz.facebook,target="_blank" class="fa-layers fa-2x")
                                      i.list-social.fab.fa-facebook-f                  
                                if(biz.twitter)
                                  a.findit(href="http://"+biz.twitter,target="_blank" class="fa-layers fa-2x")
                                      i.list-social.fab.fa-twitter            
                                if(biz.instagram)
                                  a.findit(href="http://"+biz.instagram,target="_blank" class="fa-layers fa-2x")
                                      i.list-social.fab.fa-instagram                   
                                if(biz.youtube)
                                  a.findit(href="http://"+biz.youtube,target="_blank" class="fa-layers fa-2x")
                                      i.list-social.fab.fa-youtube  
                                    
                      a.bizlink(href="/biz/"+biz.slug)          
                        .row 
                          a.bizlink(href="/biz/"+biz.slug)
                            .col-md-3       
                              if(biz.photo)
                                img.cat-image.cat-items-bottom(src="/uploads/thumbs/cover"+ biz.photo, alt=biz.name + ' on FindIt Kenya', height="200px")
                              else
                                img.cat-image.cat-items-bottom(src="/img/noimageavailable.jpg", alt=biz.name +' on FindIt Kenya', height="200px")
                          a.bizlink(href="/biz/"+biz.slug)
                            .col-md-9
                              row
                                .col-md-12.description-cat
                                  if (typeof(biz.description) !== 'undefined')
                                    if biz.description.length > 250
                                      p.padding.text-left.description-cat  !{biz.description.substr(0, 250)+ '..... <strong style="background-color:#c00000; color:#fff; padding:1px">Read More</strong>'}
                                        
                                    else
                                      =biz.description

                                    
                              row
                                .col-md-12   
                                  div.findit-blue 
                                    if(biz.website)
                                      a.findit(href=biz.website,target="_blank" class="fa-layers fa-1x")
                                        i.fas.fa-globe
                                        | website 
                                        
                                    else
                                      |
                                    if(biz.phone)
                                      a.findit(class="fa-layers fa-1x")
                                        i.fas.fa-mobile-alt 
                                      //a.findit.phoneno(href="tel:"+phone,style="color:#2c155a;display:none")
                                          |  #{biz.phone}
                                      a(href="/biz/"+biz.slug)
                                        |  Get Phone Number
                                    else
                                      | 
                      a.bizlink(href="/biz/"+biz.slug)
                        row
                            a.bizlink(href="/biz/"+biz.slug)
                              .col-md-12     
                                div.text-right
                                  if biz.reviews
                                    if( biz.reviews.length == 1) 
                                      each review, i in biz.reviews
                                        .col-md-12.ratingsonCat(class="rating medium star-icon value-"+review.rate+" label-hidden" style="margin-left: 430px !important")
                                          .star-container
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                            .star
                                              i.star-empty
                                              i.star-half
                                              i.star-filled
                                        small
                                          | #{biz.reviews.length} Review
                                    else if( biz.reviews.length > 1)
                                      each review, i in biz.reviews
                                        if(i==0)
                                          .col-md-12.ratingsonCat(class="rating medium star-icon value-"+review.rate+" label-hidden" style="margin-left: 430px !important")
                                            .star-container
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                              .star
                                                i.star-empty
                                                i.star-half
                                                i.star-filled
                                      small
                                        | #{biz.reviews.length} Reviews
                                    else
                                      | 
            
                                    
          else
            .row
              strong
                | No Results Found... Search again
            br
            .row
              form(method='get', action='/updatesearch')
                div.input-group
                  span.input-group-addon#basic-addon1.finditbutton.input-group-addon.text-center
                    h5
                      |  Search
                  input#search2.form-control.form-control-lg(type="text" placeholder="..." ,name='search', autofocus)
            
                                  
      //script to put navitems open by default
      script(type='text/javascript').
        $(document).ready(function(){
          function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          }
          function showPosition(position) {
           
           $(".bizlink").each(function () {
              let url =$(this).attr("href")
              let newUrl = url+'?lon='+position.coords.longitude+'&lat='+position.coords.latitude;
              $(this).attr("href", newUrl);
          });
          }
          }getLocation()});
