extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      .container-fluid
          row
            .col-md-9(style="border-bottom:1px solid #eee; margin-bottom:20px;")
              row
                .col-md-12
                  h4.text-center 
                    | Shopping Cart
                
            
          each p in cart
            .row(style="margin: 4px;")
              .col-md-2
                img(src='/uploads/product/thumbs/'+p.photo)
              .col-md-3
                strong.findit-blue
                  =p.name
                div
                  =p.description
                div.small.findit-red
                  a(href="/product/removefromcart/"+p._id)
                    i.fa.fa-trash(aria-hidden="true",class='col-md-1')
                    | Remove 

                
              .col-md-1
                =p.count
              .col-md-1
                | No.  
                select(id=p._id, class="editcart")
                  option(value=p.count)
                    =p.count
                  option(value='1')
                    | 1
                  option(value='2')
                    | 2
                  option(value='3')
                    | 3
                  option(value='4')
                    | 4
                  option(value='5')
                    | 5
                  option(value='6')
                    | 6
                  option(value='7')
                    | 7
                  option(value='8')
                    | 8
                  option(value='9')
                    | 9
                  option(value='10')
                    | 10
                  
              .col-md-1
                  strong.findit-red
                    |  KES 
                    =p.price
              .col-md-1
                 h6.Strong 
                      | Subtotal ( No. of Items #{p.count}): 
                      .findit-red 
                        | KES: #{p.count * p.price}
            
            .col-md-3
              row
                .col-md-12(style="border:1px solid #eee; border-radius:3px; padding:10px; text-align:center;")
                    
          .row
            form.form-control(method='post', action='/product/pay')
              .form-group
                input.form-control(name='phone', type='text', placeholder='phone *', required)
                input.form-control(name='email', type='text', placeholder='email *', required)
                textarea.form-control(name='address', type='text', placeholder='Street Name / Building / Apartment No. / Floor *', required)
                input.form-control(name='area', type='text', placeholder='Area within Nairobi * (eg Parklands or Pipeline)', required)
              .form-group
                button.btn.btn-primary.form-control(type='submit', style='color:#5050ff') 
                  Proceed to checkout (KES: #{total})
                         
  script(type='text/javascript').
    $(function(){
      var count = 0;
      
      //alert("cart count: "+count );
      $(document).on('change', '.editcart', function(event) {
        console.log(event.target.value);        
        $.ajax({
            type: "GET",
            url: "/product/editcart/"+event.target.id+"/"+event.target.value,
            success: function(res){
              console.log(res);
              $('#cartcount').text(res+')');
              location.reload(true);
            }
        });
      });
    })
      
              
               
