extends ../layout

block content
  // Single Product
  .products.products--list.products--list-lg
    .product__item.card
      .product__img
        .product__img-holder
          // Product Slider - Soccer
          .product__slider-soccer-wrapper
            // Product Thumbs
            .product__slider-thumbs
              .product__slide-thumb
                .product__slide-thumb-holder
                  img(src='/uploads/product/thumbs/'+product.photo, alt=product.photo +' findit Kenya')
              each image in product.gallery
                .product__slide-thumb
                  .product__slide-thumb-holder
                    img(src='/uploads/product/thumbs/gallery-'+image.filename, alt=image.filename +' findit Kenya')
              
            // Product Thumbs / End
            // Product Slider
            .product__slider-soccer
              .product__slide
                img(src='/uploads/product/'+product.photo, alt='')
              each image in product.gallery
                .product__slide
                  img(src='/uploads/product/'+product.photo, alt='')
              
            // Product Slider / End
          // Product Slider - Soccer / End
      .product__content.card__content.pd-sm
        header.product__header
          .product__header-inner
            span.product__category Travel
            h2.product__title #{product.name}
            .product__ratings
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star.empty
          .product__price 
            h5 
        .product__excerpt.product__excerpt--sm
          h6 Description
          | !{product.description}
        form.product__params(action='#')
          .product__param-item.product__param-item--quantity
            label Quantity
            .quantity-control
              button.btn.btn-xs
                i.fa.fa-minus
              input.form-control.input-sm(type='number', step='1', value='2', size='4')
              button.btn.btn-xs
                i.fa.fa-plus
        footer.product__footer
          if(product.bizid)
            a.btn.btn-sm.btn-primary-inverse.btn-icon.product__add-to-cart(href="#" data-toggle="modal" data-target="#contactsView")
              i.icon-bag
              |  Contacts         
          a.btn.btn-sm.btn-default.product__wish(href='404.html')
            i.icon-heart  &#x9;
            |  Add to wishlist
  // Single Product / End
  // Single Product Tabbed Content
  .product-tabs.card.card--xlg
    // Nav tabs
    ul.nav.nav-tabs.nav-justified.nav-product-tabs(role='tablist')
      li.nav-item
        a.nav-link.active(href='#tab-desciption', role='tab', data-toggle='tab')
          small Product
          | Full Description
      li.nav-item
        a.nav-link(href='#tab-info', role='tab', data-toggle='tab')
          small Product
          | Business Information
      li.nav-item
        a.nav-link(href='#tab-reviews', role='tab', data-toggle='tab')
          small Product
          | Customer Reviews (3)
    // Tab panes
    .tab-content.card__content
      // Tab: Description
      #tab-desciption.tab-pane.fade.show.active(role='tabpanel')
        header.product-tabs__header
          h2 Product Full Description
        p
          if product.description
            | !{product.description}
        
      // Tab: Description / End
      // Tab: Shipping
      #tab-info.tab-pane.fade(role='tabpanel')
        header.product-tabs__header
          h2 Business Information
        if(product.bizid)
          p !{product.bizid.description}   
          a.label.label-default(href='/biz/'+product.bizid.slug) 
            | #{product.bizid.name} read more    
      // Tab: Shipping / End
      // Tab: Reviews
      #tab-reviews.tab-pane.fade(role='tabpanel')
        section.product-tabs__section
          header.product-tabs__header
            h2 3 Customer Reviews
            .ratings
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star.empty
              span.ratings-result
                | 4.33/5 out of 3 reviews
          // Product Reviews
          ul.comments.comments--left-thumb
            li.comments__item
              .comments__inner
                header.comment__header
                  .comment__author
                    figure.comment__author-avatar
                      img(src='assets/images/avatar1.jpg', alt='')
                    .comment__author-info
                      h5.comment__author-name Jennifer Stevens
                      time.comment__post-date(datetime='2016-08-23') 5 hours ago
                      .comment__ratings.ratings
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star.empty
                .comment__body
                  h4.comment__title Incredible Tour!!
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li.comments__item
              .comments__inner
                header.comment__header
                  .comment__author
                    figure.comment__author-avatar
                      img(src='assets/images/avatar2.jpg', alt='')
                    .comment__author-info
                      h5.comment__author-name Jake Casspon
                      time.comment__post-date(datetime='2016-08-23') 2 days ago
                      .comment__ratings.ratings
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                .comment__body
                  h4.comment__title The Best Crew I&rsquo;ve ever Seen
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            li.comments__item
              .comments__inner
                header.comment__header
                  .comment__author
                    figure.comment__author-avatar
                      img(src='assets/images/avatar1.jpg', alt='')
                    .comment__author-info
                      h5.comment__author-name The Speedtester
                      time.comment__post-date(datetime='2016-08-23') 4 months ago
                      .comment__ratings.ratings
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star.empty
                .comment__body
                  h4.comment__title Comfort and Price, all in One!
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // Product Reviews / End
        section.product-tabs__section
          header.product-tabs__header
            h2 Write a Review
          // Reviews Form
          form.reviews-form(action='#')
            .row
              .col-md-4
                .form-group
                  label.control-label(for='review-stars') Review Stars
                  select#review-stars.form-control(name='review-stars')
                    option(value='5') 5 Stars Rating
                    option(value='4') 4 Stars Rating
                    option(value='3') 3 Stars Rating
                    option(value='2') 2 Stars Rating
                    option(value='1') 1 Star Rating
                .form-group
                  label.control-label(for='review-title') Review Title
                  input#review-title.form-control(type='text', name='review-title')
              .col-md-8
                .form-group
                  label.control-label(for='textarea-review') Your Review
                  textarea#textarea-review.form-control(name='textarea-review', rows='5')
            .form-group.form-group--submit
              button.btn.btn-default.btn-block.btn-lg(type='submit') Post Your Review
          // Reviews Form / End
      // Tab: Reviews / End
  // Single Product Tabbed Content / End
  // Related Products
  .card.card--clean
    header.card__header.p-5
      h4 Related Products
    .card__content
      // Products
      ul.products.products--grid.products--grid-condensed.products--grid-light.products--grid-4
        li.product__item.card
          .product__img
            .product__img-holder
              a(href='_soccer_shop-product.html')
                img(src='assets/images/dest1.jpg', alt='')
          .product__content.card__content
            header.product__header
              .product__header-inner
                span.product__category BBQ
                .product__ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
                h2.product__title
                  a(href='_soccer_shop-product.html') Big Knife
                .product__price
                  | Ksh 28.00
        // Product #2 / End
        // Product #3
        li.product__item.card
          .product__img
            .product__img-holder
              a(href='_soccer_shop-product.html')
                img(src='assets/images/rest4.jpg', alt='')
          .product__content.card__content
            header.product__header
              .product__header-inner
                span.product__category BBQ
                .product__ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
                h2.product__title
                  a(href='_soccer_shop-product.html') Big Knife
                .product__price
                  | Ksh 28.00
        // Product #3 / End
        // Product #4
        li.product__item.card
          .product__img
            .product__img-holder
              a(href='_soccer_shop-product.html')
                img(src='assets/images/finance.jpg', alt='')
          .product__content.card__content
            header.product__header
              .product__header-inner
                span.product__category BBQ
                .product__ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
                h2.product__title
                  a(href='_soccer_shop-product.html') Big Knife
                .product__price
                  | Ksh 28.00
        // Product #4 / End
        // Product #5
        li.product__item.card
          .product__img
            .product__img-holder
              a(href='_soccer_shop-product.html')
                img(src='assets/images/rest3.jpg', alt='')
          .product__content.card__content
            header.product__header
              .product__header-inner
                span.product__category BBQ
                .product__ratings
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star.empty
                h2.product__title
                  a(href='_soccer_shop-product.html') Big Knife
                .product__price
                  | Ksh 28.00
        // Product #5 / End
      // Products / End
  #contactsView.modal.couponview(tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header.pt-0.pb-0
          h5.mt-3
            | Contacts 
            br
            if(product.bizid)
             span.small.text-light #{product.bizid.name}
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.p-0
          .card__content.p-2
            // Products
            ul.products.products--list.products--list-condensed
              // Product #0
              li.product__item.card
                .product__content.card__content
                  header.product__header
                    .product__header-inner
                      h2.product__title
                        if(product.bizid)
                          p !{product.bizid.email}
                          p !{product.bizid.phone}

                        
              // Product #0 / End
            // Products / End
  // /coupons Modal / End               

     
    
    script(src='https://code.jquery.com/jquery-2.1.1.js')
    script(src='https://unpkg.com/xzoom/dist/xzoom.min.js')
    script(src='https://hammerjs.github.io/dist/hammer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
          $("#showProduct").click(function(){
              $(".contact").toggle();
          });
        });
      

    //script to put navitems open by default
    script(type='text/javascript').
      $(document).ready(function(){
          console.log(!{JSON.stringify(businesses)});
          //- if($(window).width() >= 600){
          //-   $(".dropdown-toggle").dropdown("toggle");
          //- }  
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            /// ------- attach users location to url
            $(".bizlink").each(function () {
              let url =$(this).attr("href")
              let newUrl = url+'?lon='+pos.lng+'&lat='+pos.lat;
              $(this).attr("href", newUrl);
            });
          });            
      });

    script(type='text/javascript').
      (function ($) {
        $(document).ready(function() {
            $('.xzoom, .xzoom-gallery').xzoom({zoomWidth: 250, title: true, tint: '#333', Xoffset: 15});
            $('.xzoom2, .xzoom-gallery2').xzoom({position: '#xzoom2-id', tint: '#ffa200'});
            $('.xzoom3, .xzoom-gallery3').xzoom({position: 'lens', lensShape: 'circle', sourceClass: 'xzoom-hidden'});
            $('.xzoom4, .xzoom-gallery4').xzoom({tint: '#006699', Xoffset: 15});
            $('.xzoom5, .xzoom-gallery5').xzoom({tint: '#006699', Xoffset: 15});

            //Integration with hammer.js
            var isTouchSupported = 'ontouchstart' in window;

            if (isTouchSupported) {
                //If touch device
                $('.xzoom, .xzoom2, .xzoom3, .xzoom4, .xzoom5').each(function(){
                    var xzoom = $(this).data('xzoom');
                    xzoom.eventunbind();
                });
                
                $('.xzoom, .xzoom2, .xzoom3').each(function() {
                    var xzoom = $(this).data('xzoom');
                    $(this).hammer().on("tap", function(event) {
                        event.pageX = event.gesture.center.pageX;
                        event.pageY = event.gesture.center.pageY;
                        var s = 1, ls;
        
                        xzoom.eventmove = function(element) {
                            element.hammer().on('drag', function(event) {
                                event.pageX = event.gesture.center.pageX;
                                event.pageY = event.gesture.center.pageY;
                                xzoom.movezoom(event);
                                event.gesture.preventDefault();
                            });
                        }
        
                        xzoom.eventleave = function(element) {
                            element.hammer().on('tap', function(event) {
                                xzoom.closezoom();
                            });
                        }
                        xzoom.openzoom(event);
                    });
                });

            $('.xzoom4').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                    event.pageX = event.gesture.center.pageX;
                    event.pageY = event.gesture.center.pageY;
                    var s = 1, ls;

                    xzoom.eventmove = function(element) {
                        element.hammer().on('drag', function(event) {
                            event.pageX = event.gesture.center.pageX;
                            event.pageY = event.gesture.center.pageY;
                            xzoom.movezoom(event);
                            event.gesture.preventDefault();
                        });
                    }

                    var counter = 0;
                    xzoom.eventclick = function(element) {
                        element.hammer().on('tap', function() {
                            counter++;
                            if (counter == 1) setTimeout(openfancy,300);
                            event.gesture.preventDefault();
                        });
                    }

                    function openfancy() {
                        if (counter == 2) {
                            xzoom.closezoom();
                            $.fancybox.open(xzoom.gallery().cgallery);
                        } else {
                            xzoom.closezoom();
                        }
                        counter = 0;
                    }
                xzoom.openzoom(event);
                });
            });
            
            $('.xzoom5').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                    event.pageX = event.gesture.center.pageX;
                    event.pageY = event.gesture.center.pageY;
                    var s = 1, ls;

                    xzoom.eventmove = function(element) {
                        element.hammer().on('drag', function(event) {
                            event.pageX = event.gesture.center.pageX;
                            event.pageY = event.gesture.center.pageY;
                            xzoom.movezoom(event);
                            event.gesture.preventDefault();
                        });
                    }

                    var counter = 0;
                    xzoom.eventclick = function(element) {
                        element.hammer().on('tap', function() {
                            counter++;
                            if (counter == 1) setTimeout(openmagnific,300);
                            event.gesture.preventDefault();
                        });
                    }

                    function openmagnific() {
                        if (counter == 2) {
                            xzoom.closezoom();
                            var gallery = xzoom.gallery().cgallery;
                            var i, images = new Array();
                            for (i in gallery) {
                                images[i] = {src: gallery[i]};
                            }
                            $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                        } else {
                            xzoom.closezoom();
                        }
                        counter = 0;
                    }
                    xzoom.openzoom(event);
                });
            });

            } else {
                //If not touch device

                //Integration with fancybox plugin
                $('#xzoom-fancy').bind('click', function(event) {
                    var xzoom = $(this).data('xzoom');
                    xzoom.closezoom();
                    $.fancybox.open(xzoom.gallery().cgallery, {padding: 0, helpers: {overlay: {locked: false}}});
                    event.preventDefault();
                });
              
                //Integration with magnific popup plugin
                $('#xzoom-magnific').bind('click', function(event) {
                    var xzoom = $(this).data('xzoom');
                    xzoom.closezoom();
                    var gallery = xzoom.gallery().cgallery;
                    var i, images = new Array();
                    for (i in gallery) {
                        images[i] = {src: gallery[i]};
                    }
                    $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                    event.preventDefault();
                });
            }
        });
     })
     (jQuery);
      
      
