extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      h3.text-center
        | Edit Product #{product.name}
      form(method='post', action='/product/update/'+product.id,enctype='multipart/form-data')
        .form-group
           .col-sm-12
             input.form-control-form(name='name',type='text',value=product.name) 
        .form-group
           .col-sm-12
              textarea.form-control-form(name='description',type='text',placeholder="Description of Product" maxlength="50")
                =product.description
        .form-group
          .col-sm-4
            img(src="/uploads/product/thumbs/"+ product.photo, width="200px")
          .col-sm-3
            label(for='photo') Cover Photo
          .col-sm-3
            input#photod.form-control-form(type='file', name='photo', placeholder='photo')  
        .form-group
          .row
            .col-sm-3
              label(for='gallery') Gallery              
            .col-sm-4
              input#gallery.form-control-form.imagegallery(type='file', name='gallery', placeholder='gallery', multiple='')
            .col-sm-5
              #gallerypreview   
        .form-group
          .col-sm-6
            select.selectpicker.form-control(name='bizid',data-live-search="true")
              option(data-icon='glyphicon-wrench', value=product.bizid) -- Select Business --
              each biz in businesses
                option(data-icon='glyphicon-gift', value=biz.id) #{biz.name}
        .form-group
          .col-sm-6
            input.form-control-form(name='price',type='number',style ="margin-top:12px;",placeholder="Price of Product",value=product.price)
        .form-group
          .col-sm-6
            input.form-control-form(name='oldprice',type='text', style ="margin-top:12px;",placeholder="Old Price",value=product.oldprice)
        .form-group
          .col-sm-6
            input.form-control-form(name='quantity',type='text', style ="margin-top:12px;",placeholder="Quantity of Products",value=product.quantity)
        .form-group
          .col-sm-12    
            button.btn.btn-primary.form-control-form(type='submit' style ="margin-top:12px;")
              | Update
