extends ../layout-shop

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      section
        .row
          .col-md-9
            .row
              .col-md-12
                nav.text-right
                  a(href='/product/cart')
                    #cart.row
                     
              each product in products
                .col-md-3.col-product
                  .col-md-12(id=product.slug,class="productid")
                    figure.card.card-product
                      a(href="/product/"+product.slug)
                        .img-wrap
                          img(src='/uploads/product/thumbs/'+product.photo)
                          span.button.btn.btn-light(style="display:none;" data-toggle="modal" data-target="#qModal") Quick Look
                          //The QuicklookModal
                          div(class="modal" id="qModal")
                            div(class="modal-dialog")
                              div(class="modal-content")
                                div(class="modal-header")
                                  h4(class="modal-title") Modal Heading
                                  button(type="button" class="close" data-dismiss="modal") &times;
                                div(class="modal-body") Product description here body..
                                  div(class="modal-footer")
                                    button(type="button" class="btn btn-danger" data-dismiss="modal")  Close
              
                      figcaption.info-wrap
                        h6.title.text-dots
                          =product.name       
                        div.action-wrap
                          row.price-wrap
                            if(product.oldprice)
                              .col-sm-6
                                .price-old
                                  small
                                    | Was
                                    strike
                                      | KES #{product.oldprice}
                              .col-sm-6
                                .price-new
                                  small
                                    | Now  
                                    .findit-red
                                      |  KES #{product.price}  
                            else
                              .col-sm-6
                                .price-new
                                  small
                                    .findit-red
                                      |  KES #{product.price}
                               
                            row
                              .col-sm-12
                                input(type="number" value="0" min="0" max="100")
                                button.btn.btn-outline-primary.w3ls-btn.findit-blue.addtocart(id=product.slug)
                                  | Add
          .col-md-3
            .card(style="width:fit-content")
  
              .card-body
                row
                  .col-sm-12
                    h4.card-title
                      | Total Price   KES:  
                      span#totalprice
                        =total
                      a(href='/product/cart')
                        i.findit-blue(class="fas fa-cart-arrow-down fa-2x")
                    p.card-text
                      | Some example text some example text. Incase of a price cut due to offer
                    a(href="#")
                      button.btn.btn-primary
                        | Checkout
                  //if cartExists
                  .col-sm-12
                    .row#cartsidepreview
                      each p in cart
                        .col-sm-12
                           row
                              .col-sm-3
                                .div(id="inc-button" class="spinner-button")
                                  | +
                                input.input-product(type="number" value="0" min="0" max="100")
                                .div(id="dec-button" class="spinner-button")
                                  | -
                              .col-sm-3
                                img(src='/uploads/product/thumbs/'+p.photo)
                              .col-sm-3
                                =p.name
                              .col-sm-3
                                .findit-blue
                                  i.findit-blue(class="fas fa-close fa-1x")
                                  | KES 
                                  =p.price
                              
                              
  script(type='text/javascript').
    $(function(){
      var count = 0;
      
      //alert("cart count: "+count );
      $(document).on('click', '.addtocart', function(event) {
        //console.log(event.target.id);
        
        $.ajax({
            type: "GET",
            url: "/product/api/"+event.target.id,
            success: function(res){
              $('#cartcount').text(res.itemsincart+')');
              //To list all the products in cart use below
              //res.cart
              $('#totalprice').text(res.total);
              $('#cartsidepreview').html('');
              res.cart.forEach(function(x){                
                $('#cartsidepreview').append(x.name+'<img src="/uploads/product/thumbs/'+x.photo+'")<br>');
                //x.name, x.count, x.price, x.photo,x.quantity
                console.log(x.name);
              });             
            }
        });
      });
    })
  script(type='text/javascript').
    $(document).ready(function () {
    $('.img-wrap').hover(function () {
        $(this).find('span').show();
    }, function () {
        $(this).find('span').hide();
      });
    });
