extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      .container
        h3.text-center
          | Add Product
        form(method='post', action='/product/create',enctype='multipart/form-data')
          .form-group
             .col-sm-12
               input.form-control-form(name='name',type='text',placeholder="Name of Product",required) 
          .form-group
             .col-sm-12
                textarea#descriptionw.form-control-form(name='description',type='text',placeholder="Describe the product in a few words", required) 
                  
          .form-group
            .col-sm-1
              label(for='photo') Cover Photo            
            .col-sm-2
              input#photod.form-control.form(type='file', name='photo', placeholder='photo',required) 
            .col-sm-3
              #photopreview
          .form-group
            .col-sm-1
              label(for='gallery') Gallery              
            .col-sm-2
              input#gallery.form-control-form.imagegallery(type='file', name='gallery', placeholder='gallery', multiple='')
            .col-sm-3
              #gallerypreview   
          .form-group
            .col-sm-6
              select.selectpicker.form-control(name='bizid',data-live-search="true")
                option(data-icon='glyphicon-wrench', value='') Select Business
                each biz in businesses
                  option(data-icon='glyphicon-gift', value=biz.id) #{biz.name}
          .form-group
            .col-sm-6
              select#cat.selectpicker.form-control.cat(name='cat',data-live-search="true" required)
                option(data-icon='glyphicon-wrench', value='')  Select Category 
                each cat in categories
                  option(data-icon='glyphicon-gift', value=cat.id) #{cat.name}
          .form-group
            .col-sm-6
              select#subcat.selectpicker.form-control.subcat(name='subcat', placeholder='Select Sub-Category', data-live-search="true" required)
                option(data-icon='glyphicon-wrench', value='')  Select Sub-Category 
            .col-sm-6
              select#minicat.selectpicker.form-control.subcat(name='minicat', placeholder='Select Mini-Category',data-live-search="true" required)
                option(data-icon='glyphicon-wrench', value='')  Select Mini-Category 
          //.form-group.input-group.col-sm-6
            .col-sm-12
              | Mini Category
            .col-sm-12
              select#minicat.selectpicker.form-control.subcat(name='minicat',data-live-search="true",multiple)
                option(data-icon='glyphicon-wrench', value='')  Select Mini-Category 
          .form-group
            .col-sm-6
              input.form-control-form(name='oldprice',type='text', style ="margin-top:12px;",placeholder="Old Price")
            .col-sm-6
              input.form-control-form(name='price',type='number',style ="margin-top:12px;",placeholder="Price of Product")
          .form-group
            .col-sm-6
              input.form-control-form(name='quantity',type='text', style ="margin-top:12px;",placeholder="Quantity of Products")
            .col-sm-6
              .row
                .col-sm-6(style="padding: 10px")
                  | VAT
                .col-sm-6
                  input.form-control(name='vat',type='radio',value=true, style ="")
          .form-group
            .col-sm-12    
              button.btn.btn-primary.form-control-form(type='submit' style ="margin-top:12px;")
                | Create
