extends ../admin/admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12
      .row
        .is-island
          a(href='/admin/mycoupons')
            span.fa.fa-database.text-default.glyph
            strong
              |  My Coupons
        .is-island 
          a(href='/admin/coupon/add')
            span.fa.fa-database.text-default.glyph
            strong
              |  Add Coupon
    .col-md-12.col-lg-12.col-sm-12      
      .white-box
        h3.box-title 
          strong My Coupon Offers
        
        #accordion.panel-group(role='tablist', aria-multiselectable='true')
          table.table.dataTable
            tbody#couponssort
              each coupon,i in coupons
                tr
                  .panel.panel-default(id=coupon.id)
                    #headingTwo.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse'+i, aria-expanded='false', aria-controls='collapse'+i)
                          strong
                            | #{coupon.name} | #{coupon.bizid.name} | #{coupon.status} | Star(#{coupon.star}) | Order(#{coupon.order})
                            a(href="/admin/coupon/activate/"+coupon.id, title="Toggle Coupon Status")
                              i.fa.fa-eye.fa-fw(aria-hidden='true')
                            a(href="/admin/coupon/delete/"+coupon.id, title="Delete Coupon", onclick="return confirm('Are you sure You want to Delete this Coupon?')")
                              i.fa.fa-trash.fa-fw(aria-hidden='true')
                            if(user.role == 1)
                              a(href="/admin/coupon/star/"+coupon.id, title="Star Coupon")
                                i.fa.fa-star.fa-fw(aria-hidden='true')
                              a(href="/admin/coupon/order/"+coupon.id+'/1', title="First Order Coupon")
                                | 1  
                              a(href="/admin/coupon/order/"+coupon.id+'/2', title="Second Order Coupon")
                                | 2  
                              a(href="/admin/coupon/order/"+coupon.id+'/3', title="Third Order Coupon")
                                | 3  
                              a(href="/admin/coupon/order/"+coupon.id+'/4', title="Fourth Order Coupon")
                                | 4  
                              a(href="/admin/coupon/order/"+coupon.id+'/5', title="Fifth Order Coupon")
                                | 5  
                    .panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo', id='collapse'+i)
                      .panel-body
                        each usr,i in coupon.users
                          p
                            | #{usr.code} | #{usr.status} | #{usr.user_id.names} | #{usr.user_id.email} 
                            a(href="/admin/coupon/markused/"+user.id, title="Mark This Coupon as Used")
                              i.fa.fa-check.fa-fw(aria-hidden='true')
    script(src="/javascripts/admin/Sortable.min.js")
    script(src="/javascripts/axios.min.js")
    script(src='/javascripts/notify.js')
    script(type='text/javascript').
      $(function() {
        var el = document.getElementById('accordion');
        function reorder(couponId,order){
          //alert(couponId);
          $.ajax({
              type:'GET',
              url:'/admin/coupon/reorder/'+couponId+'/'+order,
              success:function(response){
                  console.log(response);
              }
          });
        }
        var sortable = Sortable.create(el, {
          onEnd: function (/**Event*/evt) {
            //alert("sorting done: "+evt.to);
            var couponId = evt.item.id;
            var order = evt.newIndex;
            reorder(couponId,order);
            /*axios.get('/admin/coupon/reorder/'+couponId+'/'+order)
            .then(function (response) {
              // handle success
              alert(response);
              Notify.toast(response, {
                fn: function () {
                  // custom function here
                }
              });
              console.log(response);
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .then(function () {
              // always executed
            });
            */
            //console.log(evt);
            //alert(evt.item.id)
            var itemEl = evt.item;  // dragged HTMLElement
            evt.to;    // target list
            evt.from;  // previous list
            evt.oldIndex;  // element's old index within old parent
            evt.newIndex;  // element's new index within new parent
          },

          // Element is dropped into the list from another list
          onAdd: function (/**Event*/evt) {
            // same properties as onEnd
          },

          // Changed sorting within list
          onUpdate: function (/**Event*/evt) {
            // same properties as onEnd
          },

          // Called by any change to the list (add / update / remove)
          onSort: function (/**Event*/evt) {
            // same properties as onEnd
          },

          // Element is removed from the list into another list
          onRemove: function (/**Event*/evt) {
            // same properties as onEnd
          },

          // Attempt to drag a filtered element
          onFilter: function (/**Event*/evt) {
            var itemEl = evt.item;  // HTMLElement receiving the `mousedown|tapstart` event.
          },

          // Event when you move an item in the list or between lists
          onMove: function (/**Event*/evt, /**Event*/originalEvent) {
            // Example: http://jsbin.com/tuyafe/1/edit?js,output
            evt.dragged; // dragged HTMLElement
            evt.draggedRect; // TextRectangle {left, top, right и bottom}
            evt.related; // HTMLElement on which have guided
            evt.relatedRect; // TextRectangle
            originalEvent.clientY; // mouse position
            // return false; — for cancel
          },

          // Called when creating a clone of element
          onClone: function (/**Event*/evt) {
            var origEl = evt.item;
            var cloneEl = evt.clone;
          }
        });
      });
