extends ../layout

block content
  #home.baner-content-listing-biz
    .container
       
        .row(style="margin:5rem;")
            .col-sm-12
            h3.text-center Edit:        
                span   
                =coupon.name
            form(method='post', action='/admin/coupon/update/'+coupon._id,enctype='multipart/form-data')
                .form-group
                    .col-sm-12
                        input.form-control-form(name='name',type='text',value=coupon.name, maxlength="40") 
                .form-group
                    .col-sm-12
                        textarea.form-control-form(name='description',type='text',value=coupon.description, maxlength="100") #{coupon.description} 
                .form-group
                    .col-sm-12
                        input.form-control-form(name='tagline',type='text',value=coupon.tagline, maxlength="50") 
                .form-group
                    .col-sm-4
                        label(for='photo') Cover Photo
                        img(src="/uploads/thumbs/coupons"+ coupon.photo, width="200px" height="150px")
                    .col-sm-2
                        input#photod.form-control-form(type='file', placeholder='photo', name='photo')    
                .form-group
                    .col-sm-6
                        select.selectpicker.form-control(name='bizid',data-live-search="true")
                            option(data-icon='glyphicon-wrench', value=coupon.bizid._id) #{coupon.bizid.name}
                            each biz in businesses
                                option(data-icon='glyphicon-gift', value=biz._id) #{biz.name}
                //br
                //.form-group  
                    .col-sm-6(id="startcoupondate" style="padding-top:1rem")
                        strong
                            h6.findit-red
                                | Start Offer Date
                            input#startdate.form-control-form(type='text', name='startcoupondate', placeholder='Start Event Date',class='datetimepicker')
                    .col-sm-6(id="endcoupondate" style="padding-top:1rem")
                        strong
                            h6.findit-red
                                | End Offer Date
                            input#startdate.form-control-form(type='text', name='endcoupondate', placeholder='End Event Date',class='datetimepicker') 
                .form-group
                    .col-sm-6
                        select.selectpicker.form-control(name='type')
                            option(data-icon='glyphicon-wrench', value=coupon.type) Current Type
                            option(data-icon='glyphicon-gift', value='1') Percentage Off
                            option(data-icon='glyphicon-glass',value='2') Buy x Get y Free
                            option(data-icon='glyphicon-glass',value='3') KES x Off
                .form-group
                    .col-sm-6
                        select.selectpicker.form-control(name='status')
                            option(data-icon='glyphicon-wrench', value=coupon.status) Current Status (Activate or Deactivate)
                            option(data-icon='glyphicon-gift', value='1') Active
                            option(data-icon='glyphicon glyphicon-glass',value='0') Inactive 
                .form-group   
                    .col-sm-12  
                        button.btn.btn-primary.form-control-form(type='submit' style ="margin-top:12px;")
                          | Update
