extends ../layout-new

block content
  div.container-fluid
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin
     .row.couponbg-color

       div.col-md-9.coupon-col
          row.my-row
            
              div#carouselExampleFade.carousel.slide.carousel-fade(data-ride="carousel")
                ol.carousel-indicators
                  li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                  li(data-target="#carouselExampleIndicators" data-slide-to="1")
                  li(data-target="#carouselExampleIndicators" data-slide-to="2")

                
                div.carousel-inner
                  each coupon, i in coupons
                    if (i==0)
                      div.carousel-item.active
                          img.d-block.w-100.coupons-img(src="/uploads/" + coupon.photo)
                          a(href="/"+coupon.bizid.slug)
                            div.carousel-caption.d-none.d-md-block.banner-background
                              button.btn.btn-danger.flash-coupon(type="button" )
                                h5
                                  =coupon.bizid.name
                                h6
                                  =coupon.description
                                span.badge.badge-light
                                  h6
                                    =coupon.tagline
                  each coupon, i in coupons
                    if (i>0 && i<3)
                      div.carousel-item
                          img.d-block.w-100.coupons-img(src="/uploads/" + coupon.photo)
                          a(href="/"+coupon.bizid.slug)
                            div.carousel-caption.d-none.d-md-block.banner-background
                              button.btn.btn-danger.flash-coupon(type="button" )
                                h5
                                  =coupon.bizid.name
                                h6
                                  =coupon.description
                                span.badge.badge-light
                                  h6
                                    =coupon.tagline
          
                    
    
                a.carousel-control-prev(href="#carouselExampleFade" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")

                a.carousel-control-next(href="#carouselExampleFade" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
      
        
       div.col-md-3
         row 
            h5
              .coupon-title
                | Popular Coupons
            each popular, i in populars
              row
                if i<3
                  .col-md-12.is-island
                    small
                      h6
                        =popular.name
                    img.coup-img(src="/uploads/thumbs/coupons/"+ popular.photo)
                    .div
                       small
                          h6
                            =popular.biz.name
                          p
                            =popular.description
                    .div
                       small.findit-red 
                         =popular.tagline
                         
                          
                  
                

         //row
            h5
            .coupon-title
              |  Selected Coupons
            div
              .mycoupons#coupons-sticky
  div.container-fluid
    nav.navbar.navbar-expand-lg.navbar-light.bg-light#navbar
      ul.navbar-nav.mr-auto
        li.nav-item.dropdown.open.text-left
            button.btn.btn-cat.btn-light.form-control.dropdown-toggle(type='button', data-toggle='dropdown')
              h4.coupon-title
                | Search Coupon by Category
                
              span.caret
            div.dropdown-menu.open.sub-catbag.drop-down-sub.dropdown-menu-coupon.dropdown-category
              
              if groups 
                button(class="btn" onclick="filterSelection('all')")
                  strong
                    |  all Categories (
                  span
                    =groups.length + ')'
                each group in groups
                  div.text-left.sub-list#myBtnContainer
                    //a(href="#"+group._id)
                    button(class="btn" onclick="filterSelection('"+group._id+"')")
                      strong  
                        =group._id + " (" + group.count + ")" 
        li.nav-item
          row
            .col-md-6.col-sm-12.col-xs-12
              button#myBtn.btn.btn-danger.btn-cat-coupon.selected-coupon-left
                h4.agile-title.text-center
                  span.fas.fa-envelope
                  |   Selected Coupons  
                  span.badge.badge-light
                    span#couponscount(style="color:#c00000")
                      =mycoupons.length
            .col-md-6.col-sm-12.col-xs-12
              div#myModal.modal
                div.modal-content
                  span.close.text-right
                    |&times;
                  div 
                  .coupon-title
                    h3.text-center
                      |  Selected Coupons
                  div
                    .mycoupons#coupons-sticky
                      each mycoupon in mycoupons
                        .coupon.coupon-modal
                          strong 
                            =mycoupon.name
                          i.fa.fa-close.fa-fw.text-right.del-coupon(rel=mycoupon._id, aria-hidden='true',id=user.id)
                  div
                     strong
                      a(href="/admin/email/coupons" class="text-center")
                        h4
                          i(class="fa fa-envelope fa-fw" aria-hidden="true")
                          | Mail All
                      
              
    .row.deal-main
      .col-md-12.col-sm-12.col-xs-12
              div.coupons-title
                span.h4.coupon-title-start
                  | Free Coupons & Deals 
                span.h6
                  |  are available for you! Just 
                span.strong
                  | Click, 
                span.strong
                  | Save 
                span
                  | and 
                span.strong
                  | Email. 
      each coupon, i in coupons
          
          .col-md-3.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : 'couponadd', rel=user.id)
            row.deal-main.deal-coup.coupon-items.filterDiv(class=coupon.bizid.subcategory)
              
              div.col-md-12.col-sm-12.col-xs-12
                div
                  p
                    h3                  
                    = coupon.name
                  img.coup-img-wrapper.img-fluid(src="/uploads/thumbs/coupons/"+ coupon.photo, alt="Responsive image")
                  .div 
                    h6
                      strong
                        =coupon.bizid.name
                  
                  .div
                     =coupon.description
                  .div
                    
                  .div.col-md-12.col-lg-12.col-sm-12.col-xs-12.float-left
                    button.btn.btn-outline-primary.btn-coupon(type="button" )
                      =coupon.tagline 
                  .div.col-md-6.col-sm-12.col-xs-12.clipped.float-center
                    button.btn.btn.danger
                      | Clipped  
              
                  //if (typeof(coupon.description) !== 'undefined' && coupon.description.length > 80)
                  //p.padding.text-left  !{coupon.description.substr(0, 80)+ '..... <strong style="color:#d44457">Read More</strong>'}
                
            
  //Script for selecting coupons       
  script(type='text/javascript').
    //(function($) {
    $(function(){
          //script for sticky coupons on scroll
      $("#coupons-sticky").stick_in_parent();
      $(".clipped").hide();
      var cartCount = #{mycoupons.length};
      $(document).on('click', '.couponadd', function(event) {
        //alert("clicked");
        var couponid = $(this).attr("id");
        $(this).addClass('couponclicked');
        $(this).removeClass('couponadd');
        $(this).find('.clipped').show();
        $(this).find('.fa-status').html('<i class="fa fa-window-close fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
        $.ajax({
            type: "GET",
            url: "/getcoupon/user/"+couponid,
            success: function(data){
                Notify.toast(data.msg, {
                  fn: function () {
                    // custom function here
                  }
                });
                if(data.msg == 'Coupon Obtained'){
                  cartCount = cartCount + 1;
                  if(cartCount >= 0){
                    $('#couponscount').text(cartCount);
                  }
                }
                $.ajax({
                    type: "GET",
                    url: "/api/mycoupons/",
                    success: function(data){
                      var carray = data.mycoupons; 
                      $('.mycoupons').html('');
                      carray.forEach(function(el) {
                        $('.mycoupons').append(
                          '<div class="coupon coupon-modal"><strong>'+el.name+'</strong>\
                          <i id=#{user.id} class="fa fa-close fa-fw text-right  del-coupon" rel='+el._id+' aria-hidden="true"></i></div>'
                        );
                      }); 
                      $('.mycoupons').append( '<strong><span class="coup-msg">Click "Mail All" then, check your email to get coupon codes<span></strong>');             
                      console.log(data.code);
                    }
                });
            }
        });                    
      });
      $(document).on('click', ".couponclicked", function(event) {
        $(this).removeClass('couponclicked');
        $(this).addClass('couponadd');
        $(this).find('.clipped').hide();
        var userid = $(this).attr("rel");
        $.ajax({
            type: "GET",
            url: "/removecoupon/"+ userid,
            success: function(data){
                Notify.toast(data.msg, {
                  fn: function () {
                    // custom function here
                  }
                });
                if(data.msg == 'Coupon Removed'){
                  cartCount = cartCount - 1;
                  if(cartCount >= 0){
                    $('#couponscount').text(cartCount);
                  }
                }
                $.ajax({
                    type: "GET",
                    url: "/api/mycoupons/",
                    success: function(data){
                      $('.mycoupons').html('');
                      data.mycoupons.forEach(function(el) {
                        $('.mycoupons').append(
                          '<div class="coupon"><strong>'+el.name+'</strong>\
                          <i id=#{user.id} class="fa fa-close fa-fw  del-coupon" rel='+el._id+' aria-hidden="true"></i></div>'
                        );
                      });
                      $('.mycoupons').append('<strong><a href="/admin/email/coupons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail All</a></strong>');
                    }
                });
            }
        });


        $(this).find('.fa-status').html('<i class="fa fa-plus-square fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
      });

      $(document).on('click', ".del-coupon", function(event) {
        //alert($(this).attr("rel"));
        $('#'+$(this).attr("rel")).removeClass('couponclicked');
        $('#'+$(this).attr("rel")).addClass('couponadd');
        $.ajax({
          type: "GET",
          url: "/removecoupon/"+$(this).attr("id"),
          success: function(data){
            $.ajax({
              type: "GET",
              url: "/api/mycoupons/",
              success: function(data){
                $('.mycoupons').html('');
                data.mycoupons.forEach(function(el) {
                  $('.mycoupons').append(
                    '<div class="coupon"><strong>'+el.name+'</strong>\
                    <i id=#{user.id} class="fa fa-close fa-fw  del-coupon" rel='+el._id+' aria-hidden="true"></i></div>'
                  );
                });
                $('.mycoupons').append('<strong><a href="/admin/email/coupons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail All</a></strong>');
              }
          });
          }
        });
      });
    });
  //sticky nav
  script(type='text/javascript').
    // When the user scrolls the page, execute myFunction 
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
    if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }

  //script for opening modal
  script(type='text/javascript').
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  //script for opening modal
  script(type='text/javascript').
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }

    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
        
