extends ../layout-coupon

block content
  div.container-fluid
  #home.baner-content-listing-biz
    .container-fluid.container-margin-top
      section#couponBanner
        //h4#couponBannerTitle How to use the Coupons
        p#couponBannerDescription 
          span.h4.coupon-title-start
            | Free Coupons & Deals 
          span.h6.coupon-title-start
            | available for you!
          
        ul#couponBannerStepsWrapper
          li#couponBannerClickTile.couponBannerTile
            p.couponBannerTileText Click the coupon(s) to obtain it
          li#couponBannerShopTile.couponBannerTile
            p.couponBannerTileText Click on the Checkout button
          li#couponBannerEarnTile.couponBannerTile
            p.couponBannerTileText Confirm & Check your Email
        
      //.row.couponbg-color

        div.col-md-9(style="padding-right:0; padding-left:15px;")
          row.my-row
            
              div#carouselExampleFade.carousel.slide.carousel-fade(data-ride="carousel")
                ol.carousel-indicators
                  li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                  li(data-target="#carouselExampleIndicators" data-slide-to="1")
                  li(data-target="#carouselExampleIndicators" data-slide-to="2")

                
                div.carousel-inner
                  each coupon, i in coupons
                    if (i==0)
                      div.carousel-item.active
                          img.d-block.w-100.coupons-img.carousel-img(src="/uploads/" + coupon.photo, alt=coupon.bizid.name +' on FindIt Kenya')
                          a(href="/biz/"+coupon.bizid.slug)
                            div.carousel-caption.d-none.d-md-block
                              div(style="color:#fff")
                                h3.text-left
                                  =coupon.bizid.name
                                h4.text-left
                                  =coupon.description
                                span.text-left.badge.badge-light.findit-red
                                  h6.findit-red
                                    =coupon.tagline
                  each coupon, i in coupons
                    if (i>0 && i<3)
                      div.carousel-item
                          img.d-block.w-100.coupons-img.carousel-img(src="/uploads/" + coupon.photo, alt=coupon.bizid.name + ' on FindIt')
                          a(href="/biz/"+coupon.bizid.slug)
                            div.carousel-caption.d-none.d-md-block
                              div(style="color:#fff")
                                h3.text-left
                                  =coupon.bizid.name
                                h4.text-left
                                  =coupon.description
                                span.text-left.badge.badge-light.findit-red
                                  h6.findit-red
                                    =coupon.tagline
          
                    
    
                a.carousel-control-prev(href="#carouselExampleFade" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")

                a.carousel-control-next(href="#carouselExampleFade" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
      
        
        div.col-md-3
          row
              h5
                .coupon-title
                  | Popular Coupons
              each popular, i in populars
                if i<2  
                  row.deal-main.deal-home.deal-coup
                    .col-md-12
                      small
                        h6
                          =popular.name
                      each bz in popular.biz
                        img.coup-img(src="/uploads/thumbs/coupons/"+ popular.photo, alt=bz.name + ' on FindIt Kenya')
                      p
                        small
                            p
                              =popular.description
                            p
                            each bz in popular.biz
                              | @  
                              =bz.name
                            p
                            strong.findit-red
                              =popular.tagline 
                              
                              
                          
                            
                    
                  

          //row
              h5
              .coupon-title
                |  Selected Coupons
              div
                .mycoupons#coupons-sticky
  .container-fluid(style="padding-right: 3%; padding-left: 3%;")
    nav.navbar(style="background: #ededed; background: linear-gradient(to bottom,hsl(0,0%,93%) 0,hsl(0,0%,95%) 30%,hsl(0,0%,95%) 70%,hsl(0,0%,93%) 100%);")
      .navbar-brand 
        .nav-item.dropdown.open
          button.btn.btn-cat.btn-light.form-control.dropdown-toggle(type='button', data-toggle='dropdown')
            h5.coupon-title
              span
                h6 Filter Coupons by Category
                span.i.fas.fa-caret
              
            
          div#items.dropdown-menu.open.sub-catbag.dropdown-menu-coupon
            
            if groups 
              button(class="btn btn-light category-button" data-filter = "all")
                strong
                  |  All Categories (
                span
                  =groups.length + ')'
              each group in groups
                div.text-left.sub-list
                  //a(href="#"+group._id)
                  button(class="btn btn-light category-button" data-filter = ''+group._id+'')
                    strong  
                      =group._id + " (" + group.count + ")"
      .nav-item
        #myBtn
          span.text-center 
              strong      Checkout Now!
          button.coupon-button.mail-button
            //span.title
              i.far.fa-envelop
            span.number
              img(src="/img/coup.png")
              span
                .badge
                  #couponscount
                    h5 
                      strong
                        =mycoupons.length

          
          span.text-center 
              strong      coupon(s) obtained. 

        div#myModal.modal(style="overflow-x:hidden; overflow-y:auto")
          div.modal-content(style=" width: 60%;")
            span.close.text-right
              span close   
              span &times;
            span.coupon-title.text-center
              h3  Selected Coupons
            div
              .mycoupons#coupons-sticky
                each mycoupon in mycoupons
                  .coupon.coupon-modal
                    i.fa.fa-trash.fa-fw.text-right.del-coupon(rel=mycoupon._id, aria-hidden='true',id=user.id)
                    img.coup-img(src="/uploads/thumbs/coupons/"+ mycoupon.photo, alt=mycoupon.bizid.name +' on Findit Kenya') 
                    p 
                      strong #{mycoupon.name}  @ #{mycoupon.bizid.name}
                    p
                      strong #{mycoupon.tagline}
                    p
                      | #{mycoupon.description}
                      
            div
              //.div(style="float: left; clear: left;")
                span.close.text-right
                  | Go Back
                span.fa-status
                
                
                                  
              .div(style="float: right; clear: right;")
                  strong
                    a(href="/admin/email/coupons" class="text-right")
                      h3
                        i(class="fa fa-envelope fa-fw" aria-hidden="true")
                        | Email Coupons Now
                  
      
          
      //.nav-item
        form.form-inline#searchCoup.form-class(method='get', action='/search')
          .input-group
            div.input-group
              input.search2.form-control-lg(type="text" placeholder="Businesses, Doctors, Lawyers, Hotels" ,style="width:100% !important" ,name='search', autofocus) 
        
    //nav.navbar.navbar-expand-lg.bg-light#homenavbar
      ul.navbar-nav.mr-auto
        li.nav-item.dropdown.open.text-left
            button.btn.btn-cat.btn-light.form-control.dropdown-toggle(type='button', data-toggle='dropdown')
              h5.coupon-title
                span.i.fas.fa-filter
                span    Filter Coupons by Category
                
              span.caret
            div#items.dropdown-menu.open.sub-catbag.drop-down-sub.dropdown-menu-coupon.dropdown-category
              
              if groups 
                button(class="btn btn-light category-button" data-filter = "all")
                  strong
                    |  All Categories (
                  span
                    =groups.length + ')'
                each group in groups
                  div.text-left.sub-list
                    //a(href="#"+group._id)
                    button(class="btn btn-light category-button" data-filter = ''+group._id+'')
                      strong  
                        =group._id + " (" + group.count + ")" 
        li.nav-item
          row
            .col-md-6.col-sm-12.col-xs-12
              button#myBtn.btn.btn-danger.btn-cat-coupon.selected-coupon-left
                h4.agile-title.text-center
                  =  "  Selected Coupons  "
                  span.badge.badge-light  
                    span#couponscount(style="color:#c00000") 
                        =mycoupons.length
                  span.fas.fa-envelope                    
        
            .col-md-6.col-sm-12.col-xs-12
              div#myModal.modal
                div.modal-content
                  span.close.text-right
                    |&times;
                  div 
                  .coupon-title
                    h3.text-center
                      |  Selected Coupons
                  div
                    .mycoupons#coupons-sticky
                      each mycoupon in mycoupons
                        .coupon.coupon-modal
                          strong 
                            =mycoupon.name
                          i.fa.fa-close.fa-fw.text-right.del-coupon(rel=mycoupon._id, aria-hidden='true',id=user.id)
                  div
                     strong
                      a(href="/admin/email/coupons" class="text-center")
                        h4
                          i(class="fa fa-envelope fa-fw" aria-hidden="true")
                          | Mail All
        li.nav-item
          div#searchCoup
            form.form-class(method='get', action='/search')
              div.input-group
                input.search2.form-control-lg(type="text" placeholder="Businesses, Doctors, Lawyers, Hotels" ,style="width:100% !important" ,name='search', autofocus)              
  //.container-fluid(style="background-color: #f9f9f9;")        
    .row.deal-main.text-center
      .col-md-12.col-sm-12.col-xs-12
              div.text-center
                span.h4.coupon-title-start
                  | Free Coupons & Deals 
                span.h6
                  |  are available for you! Just 
                span.strong
                  | Click, 
                span.strong
                  | Save 
                span
                  | and 
                span.strong
                  | Email. 
  .container-fluid(style="padding-right: 3%; padding-left: 3%;")
    //.row.deal-main(style="padding-left: 4rem; padding-right: 4rem; background-color: #f9f9f9;")
    .row.deal-main(style="background-color: #f9f9f9;")  
      each coupon, i in coupons
        div.col-md-4.all.well(class=coupon.bizid.subcategory)
          div.row.deal-main.deal-coup.row-eq-height.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : 'couponadd', rel=user.id) 
            .card(style="border:none;")
              .row
                .col-md-4.col-sm-4
                  img.p-3.img-coupon(src="/uploads/thumbs/coupons/"+ coupon.photo, alt=coupon.bizid.name +' on Findit Kenya')
                .col-md-8.col-sm-8.px-3
                  .card-block.px-3
                    h4.card-title(style="padding-top:2px") #{coupon.name}
                    p.card-text
                      h6
                      small
                        strong
                          | @       
                          =coupon.bizid.name
                    p.card-text 
                      small #{coupon.description}
                    p.card-text.findit-blue 
                      small
                        strong #{coupon.tagline}
                    a.btn.btn-primary.clipped  Clipped 

            
            
            
            //old  
              .div.col-md-12.col-sm-12.col-xs-12
                strong
                  h3                  
                  = coupon.name
              .div.col-md-12.col-lg-12.col-sm-12.col-xs-12
                  img.coup-img-wrapper.img-fluid(src="/uploads/thumbs/coupons/"+ coupon.photo, alt=coupon.bizid.name +' on Findit Kenya')
                  .div.col-md-12.col-lg-12.col-sm-12.col-xs-12.float-left 
                    h6
                      small
                        strong
                          | @       
                          =coupon.bizid.name
                  
                  .div.col-md-12.col-lg-12.col-sm-12.col-xs-12.float-left
                      =coupon.description
                    
                  .div.col-md-12.col-lg-12.col-sm-12.col-xs-12.center-left(style='color: #04045a;')
                    =coupon.tagline 
              .div.col-md-6.col-sm-12.col-xs-12.clipped.float-center
                button.btn.btn.danger
                  | Clipped  
                  
                  
  script(src='/javascripts/bootstrapjs/filter-gallery.js')          
  //Script for selecting coupons       
  script(type='text/javascript').
    //(function($) {
    $(function(){
          //script for sticky coupons on scroll
      $("#coupons-sticky").stick_in_parent();
      //$(".clipped").hide();
      var cartCount = #{mycoupons.length};
      $(document).on('click', '.couponadd', function(event) {
        //alert("clicked");
        var couponid = $(this).attr("id");
        $(this).addClass('couponclicked');
        $(this).removeClass('couponadd');
        $(this).find('.clipped').show();
        $(this).find('.fa-status').html('<i class="fa fa-window-close fa-2x" aria-hidden="true" style="display:block;float:right"> Close</i>');
        $.ajax({
            type: "GET",
            url: "/getcoupon/user/"+couponid,
            success: function(data){
                if(#{loggedin} == false){
                  //alert("not logged in");
                  window.location.href = "/login";
                  throw new Error("kindly login!");
                }
                Notify.toast(data.msg, {
                  fn: function () {
                    // custom function here
                  }
                });
                if(data.msg == 'Coupon Obtained'){
                  cartCount = cartCount + 1;
                  if(cartCount >= 0){
                    $('#couponscount').text(cartCount);
                  }
                }
                $.ajax({
                    type: "GET",
                    url: "/api/mycoupons/",
                    success: function(data){
                      var carray = data.mycoupons; 
                      $('.mycoupons').html('');
                      carray.forEach(function(el) {
                        $('.mycoupons').append(
                          '<div class="coupon coupon-modal"><img src="/uploads/thumbs/coupons/'+el.photo+'" class="coup-img">\
                          <i id=#{user.id} class="fa fa-trash fa-fw text-right del-coupon" rel='+el._id+' aria-hidden="true"></i>\
                          <p>'+el.name+' @ '+el.bizid.name+'</p>\
                          <p><strong>'+el.tagline+'</strong></p>\
                          <p>'+el.description+'</p></div>'
                        );
                      }); 
                      //$('.mycoupons').append( '<br><strong><span class="coup-msg text-right">Email Coupon(s) Now! <span></strong>');             
                      console.log(data.code);
                    }
                });
            }
        });                    
      });
      $(document).on('click', ".couponclicked", function(event) {
        $(this).removeClass('couponclicked');
        $(this).addClass('couponadd');
        $(this).find('.clipped').hide();
        var userid = $(this).attr("rel");
        $.ajax({
            type: "GET",
            url: "/removecoupon/"+ userid,
            success: function(data){
                Notify.toast(data.msg, {
                  fn: function () {
                    // custom function here
                  }
                });
                if(data.msg == 'Coupon Removed'){
                  cartCount = cartCount - 1;
                  if(cartCount >= 0){
                    $('#couponscount').text(cartCount);
                  }
                }
                $.ajax({
                    type: "GET",
                    url: "/api/mycoupons/",
                    success: function(data){
                      $('.mycoupons').html('');
                      data.mycoupons.forEach(function(el) {
                        $('.mycoupons').append(
                          '<div class="coupon coupon-modal"><img src="/uploads/thumbs/coupons/'+el.photo+'" class="coup-img">\
                          <i id=#{user.id} class="fa fa-trash fa-fw text-right del-coupon" rel='+el._id+' aria-hidden="true"></i>\
                          <p><strong>'+el.name+' @ '+el.bizid.name+'</p>\
                          <p><strong>'+el.tagline+'</strong></p>\
                          <p>'+el.description+'</p></div>'
                        );
                      });
                      //$('.mycoupons').append('<br><strong><span class="coup-msg text-right">Email Coupon(s) Now!<span></strong>');
                    }
                });
            }
        });


        $(this).find('.fa-status').html('<i class="fa fa-plus-square fa-2x" aria-hidden="true" style="display:block; float:right"> Close</i>');
      });

      $(document).on('click', ".del-coupon", function(event) {
        //alert($(this).attr("rel"));
        $('#'+$(this).attr("rel")).removeClass('couponclicked');
        $('#'+$(this).attr("rel")).addClass('couponadd');
        $.ajax({
          type: "GET",
          url: "/removecoupon/"+$(this).attr("id"),
          success: function(data){
            $.ajax({
              type: "GET",
              url: "/api/mycoupons/",
              success: function(data){
                $('.mycoupons').html('');
                data.mycoupons.forEach(function(el) {
                  $('.mycoupons').append(
                    '<div class="coupon coupon-modal"><img src="/uploads/thumbs/coupons/'+el.photo+'" class="coup-img">\
                    <i id=#{user.id} class="fa fa-trash fa-fw text-right del-coupon" rel='+el._id+' aria-hidden="true"></i>\
                    <p><strong>'+el.name+' @ '+el.bizid.name+'</p>\
                    <p><strong>'+el.tagline+'</strong></p>\
                    <p>'+el.description+'</span></p>'
                  );
                });
                //$('.mycoupons').append('<br><strong><span class="coup-msg text-right">Email Coupon Now!<span></strong>'  );
              }
          });
          }
        });
      });
    });
  
  //script to hide main menu on coupons page
  script(type='text/javascript').
    $(window).scroll(function() {

      if ($(this).scrollTop()>2)
      {
          $(function() {
            $("#homenavbar").hide();
            $("#searchCoup").show();
            
            
          });
          
      }
      else
      {
        $(function() {
            $("#homenavbar").show();
            $("#searchCoup").hide();
           
          });
        
      }
    });

    //hide coupons button on coupons page 
    window.onload = function() {
      document.getElementById('coupbtn').className = 'hide-coupbtn';
    };
    
    
  //end of hide coupons buttons on coupons page

  //script for opening modal
  script(type='text/javascript').
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  //script for filteing coupons based on category
  script(type='text/javascript').
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }

    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
        
