extends ../layout-new

block content
  div.container-fluid
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin
     .row.couponbg-color
       .col-md-2.coupon-col-right
         .div.h2.agile-title
           i.fas.fa-bars
         .div.col-md-12
           .ul
              .div
                .li.coupon-category
                  h5
                   | Restaurants
              .div
                .li.coupon-category
                  h5
                   | Hotels
              .div
                .li.coupon-category
                  h5
                   | Kitchen Items
              .div
                .li.coupon-category
                  h5
                   | Entertainment
              .div
                .li.coupon-category
                  h5
                   | Fashion and Beauty
              .div
                .li.coupon-category
                  h5
                   | Motor
              .div
                .li.coupon-category
                  h5
                   | Advertising
              .div
                .li.coupon-category
                  h5
                   | Health Care
              .div
                .li.coupon-category
                  h5
                   | Financial Services

       .col-md-8.coupon-col
          row.my-row
             div#dem.carousel.slide(data-ride="carousel")
               ul.carousel-indicators
                 li.active(data-target="#demo" data-slide-to="0")
                 li(data-target="#demo" data-slide-to="1")
                 li(data-target="#demo" data-slide-to="2")

               each coupon, i in coupons
                if (i==0)
                  div.carousel-inner
                    div.carousel-item.active
                        img.coupons-img(src="/uploads/" + coupon.photo)
                        div.carousel-caption
                          button.btn.btn-danger.flash-coupon(type="button" )
                           =coupon.tagline
               
                else if (i>0 && i<3)
                  div.carousel-inner
                    div.carousel-item
                        img.coupons-img(src="/uploads/" + coupon.photo)
                        div.carousel-caption
                          button.btn.btn-danger.flash-coupon(type="button" )
                            =coupon.tagline
        
                  
   
               a.carousel-control-prev(href="#demo" data-slide="prev")
                 span.carousel-control-prev-icon
  
               a.carousel-control-next(href="#demo" data-slide="next")
                 span.carousel-control-next-icon
   
        
        
              
          
        
       .col-md-2
         h4
          .coupon-title
            |  Selected Coupons
          div
            .mycoupons#coupons-sticky
     .row
        .col-md-12
          .row
            each coupon, i in coupons
              .col-md-3.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : 'couponadd', rel=user.id)

              
            
     .row.deal-main.coupon-items
        each coupon, i in coupons
          if(i>2) 
            .col-md-3
              .row.coupon-list
            
                div.col-6
                  if(coupon.photo)
                    img.img-fluid.img-responsive(src="/uploads/thumbs/coupons/"+ coupon.photo)
                    p
                      h5                   
                        = coupon.bizid.name
                    
                div.col-6  
                  p
                    h5.my-3
                      =coupon.name
                    p
                      =coupon.description
              
                  div.topdeals-bottom
                    button.btn.btn-outline-primary(type="button" )
                      =coupon.tagline   

              
          

      
    //Script for selecting coupons       
    script(type='text/javascript').
      //(function($) {
      $(function(){
            //script for sticky coupons on scroll
        $("#coupons-sticky").stick_in_parent();
        var cartCount = 0;
        $(document).on('click', '.couponadd', function(event) {
          //alert("clicked");
          var couponid = $(this).attr("id");
          $(this).addClass('couponclicked');
          $(this).removeClass('couponadd');
          $(this).find('.fa-status').html('<i class="fa fa-window-close fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
          $.ajax({
              type: "GET",
              url: "/getcoupon/user/"+couponid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Obtained'){
                    cartCount = cartCount + 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
                  $.ajax({
                      type: "GET",
                      url: "/api/mycoupons/",
                      success: function(data){
                        var carray = data.mycoupons; 
                        $('.mycoupons').html('');
                        carray.forEach(function(el) {
                          $('.mycoupons').append(
                            '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/"+el.id><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw  del-coupon" rel='+el._id+' aria-hidden="true"></i></div>'
                          );
                        });              
                        console.log(data.code);
                      }
                  });
              }
          });                    
        });
        $(document).on('click', ".couponclicked", function(event) {
          $(this).removeClass('couponclicked');
          $(this).addClass('couponadd');
          var userid = $(this).attr("rel");
          $.ajax({
              type: "GET",
              url: "/removecoupon/"+ userid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Removed'){
                    cartCount = cartCount - 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
                  $.ajax({
                      type: "GET",
                      url: "/api/mycoupons/",
                      success: function(data){
                        $('.mycoupons').html('');
                        data.mycoupons.forEach(function(el) {
                          $('.mycoupons').append(
                            '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/"+el.id><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw del-coupon" aria-hidden="true"  rel='+el._id+' ></i></div>'
                          );
                        });
                      }
                  });
              }
          });


          $(this).find('.fa-status').html('<i class="fa fa-plus-square fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
        });

        $(document).on('click', ".del-coupon", function(event) {
          //alert($(this).attr("rel"));
          $('#'+$(this).attr("rel")).removeClass('couponclicked');
          $('#'+$(this).attr("rel")).addClass('couponadd');
          $.ajax({
            type: "GET",
            url: "/removecoupon/"+$(this).attr("id"),
            success: function(data){
              $.ajax({
                type: "GET",
                url: "/api/mycoupons/",
                success: function(data){
                  $('.mycoupons').html('');
                  data.mycoupons.forEach(function(el) {
                    $('.mycoupons').append(
                      '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/"+el.id><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw del-coupon" aria-hidden="true" rel='+el._id+' ></i></div>'
                    );
                  });
                }
            });
            }
          });
        });
      });

      
