extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .row
        .col-md-9
          .row
            each coupon, i in coupons
              .col-md-3.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : 'couponadd', rel=user.id)
                    
                .row
                  .col-md-8
                    h4(style='color: #08b4df;')
                      = coupon.bizid.name
                  .col-md-4
                    if(coupon.bizid.photo)
                      img.img-responsive(src="/uploads/thumbs/cover"+ coupon.bizid.photo,height="50%") 
                h5
                  strong
                    =coupon.name
                .row
                  if(coupon.photo)
                    img.img-responsive(src="/uploads/thumbs/coupons/"+ coupon.photo, style='width:100%') 
                .row
                  .col-md-12
                    p
                      =coupon.description              
                .row(style='border: 1px solid #d0cdcd;margin: 1px;border-radius: 5px;')
                  .col-md-10(style="")
                    a(href='#')
                      strong
                        h4
                          =coupon.tagline
                  .col-md-2.pull-right.fa-status
                    if(coupon.users.some(function(x) { return x.user_id == user.id }))
                      i(class="fa fa-window-close fa-2x" aria-hidden="true",style='display:block;text-align:right')
                    else
                      i(class="fa fa-plus-square fa-2x" aria-hidden="true",style='display:block;text-align:right')
        .col-md-3
          h4
            |  Selected Coupons
          .mycoupons
    script(type='text/javascript').
      $(document).ready(function() {
        var cartCount = 0;
        $(document).on('click', ".couponadd", function(event) {
          var couponid = $(this).attr("id");
          $(this).addClass('couponclicked');
          $(this).removeClass('couponadd');
          $(this).find('.fa-status').html('<i class="fa fa-window-close fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
          $.ajax({
              type: "GET",
              url: "/getcoupon/user/"+couponid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Obtained'){
                    cartCount = cartCount + 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
                  $.ajax({
                      type: "GET",
                      url: "/api/mycoupons/",
                      success: function(data){
                        var carray = data.mycoupons; 
                        $('.mycoupons').html('');
                        if(carray.length){
                          carray.forEach(function(el) {
                            $('.mycoupons').append(
                              '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/'+el._id+'"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw  del-coupon" rel='+el._id+' aria-hidden="true"></i></div>'
                            );
                          });
                           $('.mycoupons').append('<strong><a href="/admin/email/coupons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail All</a></strong>');
                        }else{
                          $('.mycoupons').html('');
                          $('.mycoupons').append('<strong>No coupons Selected</strong>');
                        }                                     
                        console.log(data.code);
                      }
                  });
              }
          });                    
        });
        $(document).on('click', ".couponclicked", function(event) {
          $(this).removeClass('couponclicked');
          $(this).addClass('couponadd');
          var userid = $(this).attr("rel");
          $.ajax({
              type: "GET",
              url: "/removecoupon/"+ userid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Removed'){
                    cartCount = cartCount - 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
                  $.ajax({
                      type: "GET",
                      url: "/api/mycoupons/",
                      success: function(data){
                        $('.mycoupons').html('');
                        if(data.mycoupons.length){
                          data.mycoupons.forEach(function(el) {
                            $('.mycoupons').append(
                              '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/'+el._id+'"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw del-coupon" aria-hidden="true"  rel='+el._id+' ></i></div>'
                            );
                          });
                          $('.mycoupons').append('<strong><a href="/admin/email/coupons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail All</a></strong>');
                        }else{
                          $('.mycoupons').html('');
                          $('.mycoupons').append('<strong>No coupons Selected</strong>');
                        }
                      }
                  });
              }
          });


          $(this).find('.fa-status').html('<i class="fa fa-plus-square fa-2x" aria-hidden="true" style="display:block;text-align:right"></i>');
        });

        $(document).on('click', ".del-coupon", function(event) {
          //alert($(this).attr("rel"));
          $('#'+$(this).attr("rel")).removeClass('couponclicked');
          $('#'+$(this).attr("rel")).addClass('couponadd');
          $.ajax({
            type: "GET",
            url: "/removecoupon/"+$(this).attr("id"),
            success: function(data){
              $.ajax({
                type: "GET",
                url: "/api/mycoupons/",
                success: function(data){
                  $('.mycoupons').html('');
                  if(data.mycoupons.length){
                    data.mycoupons.forEach(function(el) {
                      $('.mycoupons').append(
                        '<div class="coupon"><strong>'+el.name+'</strong><a href="/admin/email/coupon/'+el._id+'"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail</a><i id=#{user.id} class="fa fa-close fa-fw del-coupon" aria-hidden="true" rel='+el._id+' ></i></div>'
                      );
                    });
                    $('.mycoupons').append('<strong><a href="/admin/email/coupons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mail All</a></strong>');
                  }else{
                    $('.mycoupons').html('');
                    $('.mycoupons').append('<strong>No coupons Selected</strong>');
                  }                 
                }
            });
            }
          });
        });
      });
